// Colors
:root {
  --yellow-100: #f7ec00;
  --yellow-200: #f4ca17;
  --blue-100: #5bc2a9;
  --blue-200: #3ba6dd;
  --orange-100: #f26a21;
  --orange-200: #d42c70;
  --orange-300: #c24f41;
  --pink-100: #ffaaad;
  --green-100: #9ecc3b;
  --green-200: #009155;
  --green-300: #20b038;
  --red-100: #ee2a7b;
  --red-200: #d42c39;
  --red-300: #9d1f5d;
  --black-100: #1d3142;
  --black-200: #181717;
  --black-300: #070707;
  --grey-100: #e5e5e5;
  --grey-200: #fcfcfc;
  --grey-300: #868686;
  --grey-400: #939393;
  --grey-500: #f0f0f0;
  --grey-600: #f5f5f5;
  --grey-dark: #373434;
  --border-dark: #484848;
  --white: #ffffff;
  --offwhite: #e5e5e5;
  --cream: #fdfed6;
  --brown: #a76a3d;
  --purple: #7a3280;

  // Graidents
  --yellowish: linear-gradient(76.1deg, #f7ec00 9.31%, #f4ca17 91.94%);
  --bluish: linear-gradient(76.09deg, #5bc2a9 9.31%, #3ba6dd 91.98%);
  --orangish: linear-gradient(76.09deg, #f26a21 9.31%, #d42c70 91.98%);
  --greenish: linear-gradient(76.08deg, #9ecc3b 9.34%, #009155 91.16%);
  --redish: linear-gradient(76.07deg, #ee2a7b 9.33%, #9d1f5d 92.01%);
  --purplish: linear-gradient(
    90.68deg,
    rgba(15, 131, 238, 0.61) 1.69%,
    #7d17a2 90.3%
  );
  --bluish100: inear-gradient(
    90.68deg,
    rgba(90, 193, 171, 0.61) 1.69%,
    #3ea9d8 90.3%
  );

  // how it works dark Gradients
  --darkYellow: linear-gradient(180deg, #070707 0%, #f4ca17 99.26%);
  --darkOrange: linear-gradient(180deg, #070707 0%, #f26a21 100%);
  --darkRed: linear-gradient(180deg, #070707 0%, #d42c39 100%);
  --darkPurple: linear-gradient(180deg, #070707 0%, #f226de 100%);
  --darkBlue: linear-gradient(180deg, #070707 0%, #3ba6dd 100%);
  --darkGreenish: linear-gradient(180deg, #070707 0%, #9ecc3b 100%);
  --darkGreen: linear-gradient(180deg, #070707 0%, #009155 100%);
  --darkGrey: linear-gradient(180deg, #070707 0%, #868686 100%);

  // how it works
  --lightYellowish: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(244, 202, 23, 0.06) 59.85%
  );
  --lightOrangish: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(212, 44, 57, 0.06) 59.85%
  );
  --lightRedish: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(242, 106, 33, 0.06) 59.85%
  );
  --lightRedish100: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(242, 38, 222, 0.06) 59.85%
  );
  --lightBluish: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(59, 166, 221, 0.06) 59.85%
  );
  --lightGreenish: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(158, 204, 59, 0.06) 59.85%
  );
  --lightGreenish100: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(0, 145, 85, 0.06) 59.85%
  );
  --lightGreyish: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(134, 134, 134, 0.06) 59.85%
  );
}

// Type Scale
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-base: 1.6rem;
$step-01: 2rem;
$step-02: 2.6rem;
$step-03: 3rem;
$step-04: 4rem;
$step-05: 5rem;
$step-06: 6.1rem;
$step-07: 7rem;
// Fonts
$primaryFont: "DM Sans", sans-serif;
