// accordions
.accordion {
  font-family: inherit;
  transition: all 0.5s;

  &-heading {
    position: relative;
    background: var(--background3-color);
    padding: 2rem 3rem;
    margin-bottom: 1.6rem;
    border-radius: 0.5rem;
    cursor: pointer;

    @media (max-width: 768px) {
      padding: 2rem;
    }

    &::before {
      border-radius: 0.5rem;
      position: absolute;
      content: "+";
      top: 50%;
      left: -7.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--background3-color);
      width: 6.25rem;
      height: 6.25rem;
      color: var(--text-color);
      font-size: 2.5rem;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -7rem;
      }
      @media (max-width: 600px) {
        width: 6rem;
        left: -6.5rem;
      }
      @media (max-width: 480px) {
        width: 3.5rem;
        top: 0;
        transform: translateY(0);
        height: 3.5rem;
        left: -4rem;
      }
    }

    h4 {
      font-size: $text-base;
      pointer-events: none;

      @media (max-width: 600px) {
        font-size: $text-sm;
      }
    }
  }

  &-body {
    overflow: hidden;
    padding: 0 0 0 8rem;
    max-height: 0;
    transition: all 0.3s;
    border-top: 1px solid transparent;
    a {
      color: var(--textAccent-color);
      text-decoration: underline;
    }
    ol,
    ul {
      padding-top: 2rem;
      li {
        font-size: 1.4rem;
        line-height: 1.63;
        list-style-position: inside;
        margin-bottom: 0.5rem;

        a {
          color: var(--orange-100);
          text-decoration: underline;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 0 0 0 7rem;
    }
    @media (max-width: 600px) {
      padding: 0 0 0 6.5rem;
    }
    @media (max-width: 480px) {
      padding: 0 0 0 4rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.63;
      margin: 0rem;
      word-break: break-word;

      &:not(:first-child) {
        padding-top: 2rem;
      }
    }
  }

  // active
  &.active > &-body {
    max-height: 100rem;
  }

  &.active > &-heading::before {
    content: "-";
  }

  //sub accordion
  &-sub {
    padding: 0;
    border-bottom: none;
    margin-bottom: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 2.1rem;
    }
  }

  &-sub > &-heading {
    margin-bottom: 0;
  }

  &-sub > &-body {
    min-height: 0;
    background-color: var(--background3-color);
    padding: 0 3rem 0;

    @media (max-width: 768px) {
      padding: 0 2rem 0;
    }
  }

  &-sub > &-heading::before {
    left: -7.5rem;

    @media (max-width: 768px) {
      left: -7rem;
    }
    @media (max-width: 600px) {
      left: -6.5rem;
    }
    @media (max-width: 480px) {
      left: -4rem;
    }
  }

  // sub active
  &-sub.active > &-heading {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &-sub.active > &-body {
    max-height: 100rem;
    padding: 0 3rem 2rem;

    @media (max-width: 768px) {
      padding: 0 2rem 2rem;
    }
  }
}

// single accordions
.faqs_single {
  .accordion {
    margin-bottom: 1.6rem;
    &.active {
      .accordion-body {
        max-height: auto;
        padding: 0 3rem 2rem;

        @media (max-width: 768px) {
          padding: 0 2rem 2rem;
        }
      }
      .accordion-heading {
        border-radius: 0.5rem 0.5rem 0 0;
      }
    }
  }
  .accordion-heading {
    margin-bottom: 0;
    border-radius: 0.5rem;
  }
  .accordion-body {
    max-height: 0;
    overflow: hidden;
    padding: 0 3rem 0;
    background-color: var(--background3-color);
    border-radius: 0 0 0.5rem 0.5rem;
    border: none;
  }
}
