.breadcrumbs {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  ul {
    margin: 0;
    padding: 0.8rem 0;
    display: flex;

    li {
      margin: 0;
      font-size: $text-xs;
      color: var(--grey-300);

      &:last-child {
        a {
          color: var(--yellow-200);
          font-weight: 600;
        }
      }
      a {
        font-size: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: currentColor;

        img {
          padding: 0 1rem;
          height: 1rem;
        }
      }
    }
  }
}
