a.primaryBtn {
  display: inline-block;
  background: var(--primaryBtn-color);
  color: var(--textOnPrimaryBtn-color);
  padding: 1.2rem 3.2rem;
  border-radius: 0.4rem;
  transition: all 250ms ease-in;
  font-weight: 500;

  &:hover {
    background-size: 150% auto;
    background-position: right center;
  }
}

a.secondaryBtn {
  display: inline-block;
  background: var(--secondaryBtn-color);
  color: var(--textOnSecondaryBtn-color);
  padding: 1.2rem 3.2rem;
  border-radius: 0.4rem;
  transition: all 250ms ease-in;
  font-weight: 500;

  &:hover {
    background-size: 150% auto;
    background-position: right center;
  }

  &--white {
    background: var(--background2-color);
    color: var(--text-color);
  }
}
a.tertiaryBtn {
  display: inline-block;
  background: var(--tertiaryBtn-color);
  color: var(--textOnTertiaryBtn-color);
  padding: 1.2rem 3.2rem;
  border-radius: 0.4rem;
  transition: all 250ms ease-in;
  font-weight: 500;

  &:hover {
    background-size: 150% auto;
    background-position: right center;
  }
}

a.linkBtn {
  color: var(--text-color);
  display: inline-block;
  text-decoration: underline;
}

// text arrow buttons
a.btn {
  &--text {
    display: flex;
    align-items: center;
    font-size: $text-base;
    font-weight: 600;
    line-height: 1;

    img,
    svg {
      width: 1rem;
      height: 1.1rem;
      margin-top: 0.2rem;
      margin-left: 0.6rem;
      transition: all 0.2s;
    }
    &:hover img,
    &:hover svg {
      margin-left: 1rem;
    }
  }
  &--orange {
    color: var(--textAccent-color);
  }
  &--green {
    color: var(--green-100);
  }
  &--center {
    justify-content: center;
    width: 100%;
  }
}

button.secondaryBtn {
  border: none;
  display: inline-block;
  background: var(--secondaryBtn-color);
  color: var(--textOnSecondaryBtn-color);
  padding: 1.2rem 3.2rem;
  border-radius: 0.4rem;
  transition: all 250ms ease-in;
  font-weight: 500;

  &:hover {
    background-size: 150% auto;
    background-position: right center;
  }
}
