.helpCard {
  position: relative;
  padding: 4rem;
  padding-bottom: 4.8rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--background-box);
  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding: 4rem 3rem;
  }
  @media screen and (max-width: 640px) {
    max-width: 50rem;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2rem;
    left: 0;
    bottom: 0;
  }

  h5 {
    margin-top: 2.4rem;
    font-size: $step-02;
    // max-width: 32rem;

    @media screen and (max-width: 600px) {
      font-size: $step-01;
    }
  }
  img {
    width: 12rem;
  }
  a {
    font-size: $step-01;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      font-size: $text-base;
    }

    svg {
      width: 2rem;
      height: 2rem;
      display: inline-block;
      margin-left: 0.7rem;
      transition: 150ms ease-in;
    }

    &:hover {
      svg {
        transform: translateX(6px);
      }
    }
  }

  p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: $text-sm;
  }
}

//  blog cards
.blogCard {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 4rem;

  & > a {
    margin: 0;
    width: 100%;

    img {
      width: 100%;
      // border: 1px solid var(--background4-color);
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    font-size: $text-sm;
    color: var(--text-grey);
    align-items: center;
    margin-bottom: 2rem;

    img {
      width: 2.5rem;
    }

    a {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__heading {
    font-size: $step-01;
    font-weight: 700;
    margin-bottom: 2rem;

    &--big {
      font-size: $step-03;
      margin-bottom: 1.6rem;
    }
  }

  .blogCard__content {
    background-color: var(--background3-color);
    padding: 3rem;
    border-radius: 0 0 10px 10px;
    min-height: 50%;
  }

  .btn--text {
    font-weight: normal;

    img {
      width: auto;
      height: 1rem;
      transform: translateY(1px);
    }
  }

  p {
    margin-bottom: 2.6rem;
  }
}
