.modalWindow {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(var(--background-color), 0.01);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;
  backdrop-filter: blur(2px);
  @media screen and (max-width: 1024px) {
  backdrop-filter: blur(10px);
  }
  &-close {
    position: absolute;
    top: 2rem;
    right: 2.8rem;
    border: none;
    background: none;
    display: block;
    cursor: pointer;

    svg {
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      path {
        fill: var(--grey-400);
      }
    }
  }
  &-content {
    position: relative;
    max-width: 60vw;
    min-width: 60vw;
    max-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    background: var(--background-color);
    padding: 6rem 10rem;
    border-radius: 1rem;
    overflow-y: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 1200px) {
      padding: 6rem;
      .centerSectionHeading{
        text-align: left;
      }
    }
    @media screen and (max-width: 1024px) {
      max-width: 90vw;
      min-width: 90vw;
    }
    @media screen and (max-width: 640px) {
      max-width: 90vw;
      min-width: 90vw;
      max-height: 90vh;
      padding: 2rem;
    }
    &::-webkit-scrollbar {
      background-color: rgba(#ccc, 0.2);
      width: 0.5rem;
      border-radius: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--grey-400);
      border-radius: 0.2rem;
    }
  }
}
.modalWindow.open {
  animation: modalFadeIn 300ms ease-in forwards;
}
.modalWindow.close {
  animation: modalFadeOut 300ms ease-in forwards;
}
.formWrapper {
  width: 100%;
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
