.lead_form {
  padding-top: 4.8rem;
  @media screen and (max-width: 640px) {
    padding-top: 3rem;
  }
  input:not([type="submit"]),
  textarea,
  select {
    width: 100%;
    background-color: var(--background-color);
    border-radius: 4px;
    padding: 1.4rem 1.2rem;
    border: 1px solid var(--grey-500);
    outline: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      opacity: 0.4;
    }
  }
  textarea {
    resize: vertical;
  }
  .formControl {
    margin-bottom: 2rem;
    label {
      display: inline-block;
      margin-bottom: 0.8rem;
      span {
        color: var(--red-100);
      }
    }
    .btnWrap {
      margin-top: 4rem;
      text-align: right;
    }
  }
  select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    // background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='deeppink' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 50%;
    cursor: pointer;
  }
}

.subscribeWrap {
  margin-top: 25px;
  position: relative;
  @media (min-width: 992px) {
    margin-top: 0;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    // padding-left: 20px;
  }
  .emaillist {
    width: 100%;
  }
  form {
    width: 100%;
    // display: flex;
    .es-field-wrap {
      margin: 0;
      margin-right: 10px;
      width: calc(100% - 137px);
      > label {
        display: block;
        width: 100%;
      }
    }
    .wpcf7-response-output {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .subscribeWithPhone {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      > * {
        &:first-child {
          // flex: 1;
          margin-right: 10px;
          // width: 60%;
          flex: 1;
          @media (min-width: 1200px) {
            // width: 70%;
          }
        }
        &:last-child {
          width: 100px;
          @media (min-width: 768px) {
            width: 120px;
          }
        }
      }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      flex: 1;
      margin-right: 1rem;
      width: 100%;
      background-color: var(--background-color);
      border-radius: 4px;
      padding: 1.4rem 1.2rem;
      border: 1px solid rgba(29, 49, 66, 0.1);
      outline: none;
      @media (max-width: 991px) {
        background-color: transparent;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        opacity: 0.4;
      }
    }
  }
}

// css
.info,
.success {
  display: none;
}

.twoColumnForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .formControl .btnWrap {
    margin-top: 2rem;
  }
  .formControl:last-child {
    margin: 0;
  }
  @media (min-width: 768px) {
    .formControl:nth-child(7) {
      grid-column: span 2;
    }
  }
}
