.notification {
  background-color: var(--black-100);
  padding: 1rem 0;
  min-height: 4.4rem;
  margin: 0;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 0.8rem 0;
  }

  &.closed {
    display: none;
    height: 0;
    padding: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & > img {
      width: 1.3rem;
      height: 1.3rem;
      cursor: pointer;
    }
  }

  &Slider {
    width: 100%;
    &__item {
      color: var(--white);
      width: 100%;

      p,
      a {
        color: currentColor;
        font-size: $text-sm;
        margin: 0;

        @media (max-width: 768px) {
          font-size: $text-xs;
        }
      }

      a {
        border-bottom: 1px solid var(--yellow-100);
      }
    }
    & > &__item {
      display: none !important;
    }
    & .slick-slider &__item {
      display: block !important;
    }
  }
}
