// pagination
.pagination {
  position: static;
  color: var(--text-grey);
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  margin-top: 2rem;

  * {
    font-weight: 700;
    padding: 0 0.8rem;

    &:hover {
      color: var(--orange-100);
    }
  }

  .current {
    color: var(--orange-100);
  }
}
