// tabs
.tab {
  &__filterBtnWrap {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    position: relative;

    @media only screen and (max-width: 768px) {
      justify-content: flex-start;
      overflow-x: auto;
      overflow-y: hidden;
    }

    &::after {
      content: "";
      position: absolute;
      width: 150vw;
      height: 1px;
      background: var(--grey-100);
      left: -20vw;
      bottom: 1px;
      z-index: -1;
    }

    a {
      display: block;
      border: none;
      background: none;
      font-size: inherit;
      font-weight: 500;
      padding-bottom: 1.6rem;
      border-bottom: 4px solid transparent;
      white-space: nowrap;

      &:hover {
        color: var(--linkHover-color);
      }
    }
    a.active {
      font-weight: 700;
      color: var(--linkHover-color);
      border-bottom: 4px solid var(--linkHover-color);
    }
    a:not(:last-of-type) {
      margin-right: 3.8rem;
    }
  }
}
