div,
section {
    &.timeline-section {
        .tl-txt{
            text-align: center;
            margin-bottom: 30px;
            h2{
                padding-bottom: 10px;
            }
            p{
                max-width: 55%;
                margin: auto;
                padding-bottom: 30px;
                @media (max-width:600px) {
                    max-width: 100%;
                }
                @media (min-width:768px)and (max-width:1024px){
                    max-width: 65%;
                }
            }
        }
        .timeline-box{
            overflow-x: hidden;
            text-align: center;
            :hover{
                cursor: pointer;
            }
            @media (max-width:600px) {
                overflow-x: auto;
            }
            @media (min-width:768px)and(max-width:1024px) {
                overflow-x: auto;
            }
        }
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 290px 0;
            @media (max-width:600px) {
                padding: 339px 0;
            }
            li {
                position: relative;
                min-width: 400px;
                counter-increment: item;
                @media (max-width:600px) {
                    min-width: 350px;
                }
                &:first-child{
                    &::after{
                        margin-left: 50%;
                    }
                }
                &:last-child{
                    &::after{
                        margin-right: 50%;
                    }
                }
                &::after {
                    content: "";
                    border: 1px dashed #5d5d5d;
                    display: block;
                }

                &::before {
                    content: counter(item);
                    color: white;
                    border-radius: 50%;
                    width: 40px;
                    align-items: center;
                    height: 40px;
                    // -webkit-box-shadow: 0 12px 24px rgb(6 45 91 / 11%);
                    // box-shadow: 0 12px 24px rgb(6 45 91 / 11%);
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
                &:nth-child(1n){
                    &::before{
                        background-color: #F26A21;
                    }
                }
                &:nth-child(2n){
                    &::before{
                        background-color: #009155;
                    }
                }
                &:nth-child(3n){
                    &::before{
                        background-color: #3BA6DD;
                    }
                }
                &:nth-child(4n){
                    &::before{
                        background-color: #9ECC3B;
                    }
                }

                &:nth-child(odd) {
                    .tl-txt-box {
                        position: absolute;
                        bottom: 40px;
                        margin: 20px;
                    }

                    .tl-num {
                        position: absolute;
                        top: 30px;
                        margin: 20px;
                    }
                }
              
                &:nth-child(even) {
                    .tl-txt-box {
                        position: absolute;
                        top: 40px;
                        margin: 20px;
                    }

                    .tl-num {
                        position: absolute;
                        bottom: 30px;
                        margin: 20px;
                    }
                }

                .timeline-li {
                    display: flex;
                    justify-content: center;

                    .tl-txt-box{
                        background-color: var(--background-box);
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                        padding: 30px;
                        border-radius: 15px;
                        h5{
                            font-size: 20px;
                            padding-bottom: 10px;
                        }
                        p{
                            font-size: 14px;
                        }
                        &:hover{
                            box-shadow: 0px 0px 8px 0px #95959694;
                            transition: 1s;
                        }
                    }

                    .tl-num {
                        p {
                            font-weight: 700;
                            font-size: 101px;
                            line-height: 132px;
                            text-align: center;
                            color: #dcdcdc6b;
                        }
                    }
                }
            }
        }
    }
}