.sticky-whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.dark .colItems h5::after { 
  filter: invert(1);
}

footer.footer-Section {
  padding-bottom: 9rem;
  border-top: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;

  @media (max-width: 900px) {
    padding-bottom: 6rem;
  }
  .fourColWithCenteredOrphans {
    & > * {
      @media screen and (max-width: 900px) {
        width: calc(100% - 2rem);
        margin: 0;
      }
    }
  }

  .footer {
    max-width: 114rem;
    margin: 0 auto;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .footer-logo {
      @media screen and (max-width: 1024px) {
        width: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @media (max-width:600px) {
        text-align: center;
      }
      @media screen and (max-width: 900px) {
        justify-content: space-between;
      }
    }

    .footer-logo > svg {
      @media (max-width: 600px) {
        max-width: 16rem;
        margin-right: 1.5rem;
      }

      path.color-switch {
        fill: var(--text-color);
      }
    }
   


    .footer-logo--social {
      ul {
        display: flex;
        transform: translateX(4rem);
        margin-top: 2rem;
        @media (max-width:600px) {
          justify-content: center;
        }
        @media screen and (max-width: 1024px) {
          transform: translateX(0);
        }

        li {
          width: 3.6rem;
          height: 3.6rem;

          @media (max-width: 600px) {
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        li:not(:last-of-type) {
          margin-right: 2rem;

          @media screen and (max-width: 900px) {
            margin-right: 2rem;
          }
          @media (max-width: 600px) {
            margin-right: 1.6rem;
          }
          @media (max-width: 400px) {
            margin-right: 1rem;
          }
        }
      }
    }
    .colItems {
      &:first-child {
        @media screen and (max-width: 1024px) {
          margin-bottom: 5rem;
        }
      }
      &:not(:first-child) {
        @media screen and (max-width: 1024px) {
          margin-bottom: 2rem;
        }
        @media screen and (max-width: 900px) {
          margin-bottom: 0;
        }
      }

      &:not(:first-child) {
        @media screen and (max-width: 900px) {
          border-top: 1px solid var(--border-color);

          ul {
            height: 0;
            overflow: hidden;
            padding: 0 2rem 0;
            transition: all 0.3s;
          }

          h5 {
            padding: 1.6rem 2rem;

            &::after {
              transition: all 0.3s;
              content: "";
              position: absolute;
              width: 4.4rem;
              height: 4.4rem;
              top: 50%;
              right: 0;
              transform: translateY(-50%) rotate(0);
              background: url(../images/icons/arrow-down.svg);
              background-repeat: no-repeat;
              background-size: 1.6rem 1.6rem;
              background-position: 50% 50%;
              transition: 0.1s ease-in;
            }
          }
        }

        @media screen and (max-width: 480px) {
          ul {
            padding: 0 1rem 0;
          }
          h5 {
            padding: 1.6rem 1rem;
          }
        }
      }
      &.open {
        @media screen and (max-width: 900px) {
          & > h5 {
            &::after {
              transform: translateY(-50%) rotate(180deg);
            }
          }
          & > ul {
            height: auto !important;
            padding: 0 2rem 2rem;
          }
        }
        @media screen and (max-width: 480px) {
          ul {
            padding: 0 1rem 2rem;
          }
        }
      }

      h5 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        position: relative;

        @media screen and (max-width: 1024px) {
          margin-top: 0;
          margin-bottom: 2rem;
        }
        @media screen and (max-width: 900px) {
          margin-bottom: 0;
        }
      }

      ul {
        a {
          font-size: 1.4rem;
          color: var(--text-color);
        }
        li a:hover {
          color: var(--linkHover-color);
        }
        li:not(:last-of-type) {
          margin-bottom: 0.8rem;
        }
      }

      &.footerCompany,
      &.footerProduct,
      &.footerPolicies {
        ul {
          @media screen and (max-width: 900px) {
            display: flex;
            flex-wrap: wrap;
          }
        }
        li {
          @media screen and (max-width: 900px) {
            flex: 0 0 50%;
          }
        }
      }
    }
    .colItems-2 {
      @media (max-width:600px) {
        display: block;
      }
    }
  }
}

.footerBottom {
  position: relative;
  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    @media screen and (max-width: 480px) {
      width: 100%;
      padding: 0 2rem;
      text-align: center;
    }
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  .desktop {
    @media (max-width: 480px) {
      display: none;
    }
  }
  .mobile {
    display: none;
    @media (max-width: 480px) {
      display: block;
    }
  }
}

body.dark footer.footer-Section .footer .footer-logo--social ul li {
  filter: invert(100%);
}

path{
  &.color-new{
    fill: var(--border-color);
  }
  &.color-new-bg{
    fill:var(--text-color) ;
  }
  &.color-new-stroke{
    stroke: var(--text-color);
  }
}