.Section {
  position: relative;
  padding: 7rem 0;

  @media screen and (max-width: 768px) {
    padding: 3rem 0;
  }
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding-left: 4vw;
  padding-right: 4vw;

  &-medium {
    max-width: 110rem;
    margin: 0 auto;

    @media (max-width: 1210px) {
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }

  &-small {
    max-width: 110rem;
    margin: 0 auto;

    @media (max-width: 1210px) {
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }
}

.Section.noPaddingBottom {
  padding-bottom: 0;
}
.Section.noPaddingTop {
  padding-top: 0;
}

.centerSectionHeading {
  text-align: center;
  & > * {
    max-width: 87rem;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    text-align: left;
  }
}

.leftRightGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4vw;
  @media (min-width:768px)and(max-width:1024px){
    gap: 0vw;
  }
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &-image {
    border-radius: 4px;
    @media only screen and (max-width: 768px) {
      margin-top: 4rem;
    }
    img {
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
    }
  }
  &-content {
    @media only screen and (max-width: 768px) {
      margin-top: 4rem;
    }
  }
}

.leftRightGrid.leftRightGrid-reversed {
  @media only screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
  .leftRightGrid-image {
    order: 2;
  }
  .leftRightGrid-content {
    order: 1;
  }
}

.threeColWithCenteredOrphans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;

  @media (max-width: 64em) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: unset;
    margin: 0;

    & > * {
      width: calc(50% - 2rem);
      margin: 1rem;
    }
  }

  @media (max-width: 40em) {
    & > * {
      width: 100%;
      margin: 0;
    }
    & > *:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  .colItems {
    grid-column: span 2;

    &:last-child:nth-child(3n - 1) {
      grid-column-end: -2;
    }

    &:nth-last-child(2):nth-child(3n + 1) {
      grid-column-end: 4;
    }

    /* Dealing with single orphan */
    &:last-child:nth-child(3n - 2) {
      grid-column-end: 5;
    }
  }
}

.fourColWithCenteredOrphans {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;

  @media (max-width: 64em) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: unset;
    margin: 0;

    & > * {
      width: calc(50% - 2rem);
      margin: 1rem;
    }
  }

  @media (max-width: 40em) {
    & > * {
      width: 100%;
      margin: 0;
    }
    & > *:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  .colItems {
    grid-column: span 2;
    // min-height: 20rem;
    // background: $theme-blue-100;

    //one orphan
    // &:last-child:nth-child(4n + 1) {
    //   grid-column-end: 6;
    // }

    // //two orphans
    // &:nth-last-child(2):nth-child(4n + 1) {
    //   grid-column-end: 5;
    // }
    // &:last-child:nth-child(4n - 2) {
    //   grid-column-end: 7;
    // }

    // //three orphans
    // &:nth-last-child(3):nth-child(4n - 3) {
    //   grid-column-end: 4;
    // }
    // &:nth-last-child(2):nth-child(4n + 2) {
    //   grid-column-end: 6;
    // }
    // &:last-child:nth-child(4n - 1) {
    //   grid-column-end: 8;
    // }
  }
}
