nav.closed {
  @media only screen and (max-width: 1250px) {
    overflow: hidden;

    .nav-logo {
      margin-bottom: 0;
    }
    .navCtaBtn {
      .secondaryBtn {
        display: block;
      }
    }
    .nav-actions {
      opacity: 0s;
      transition-delay: 0;
      bottom: 200%;
    }
    .nav-links {
      opacity: 0;
      @media (max-width: 1250px) {
        display: none;
      }
      transition-delay: 0;

      @media only screen and (max-width: 1250px) {
        overflow: hidden;
      }
    }
  }

  @media only screen and (max-width: 1250px) {
    height: 12rem;
  }

  @media screen and (max-width: 600px) {
    height: 10rem;
  }

  @media screen and (max-width: 480px) {
    height: 8rem;
  }
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 3rem 0;
  background-color: var(--background-color);
  transition: transform 0.1s linear;
  will-change: transform;

  &.pinned {
    transform: translateY(-1%);
  }
  &.unpinned {
    transform: translateY(-100%);
  }

  @media only screen and (max-width: 1250px) {
    height: 100%;
  }

  .nav {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1250px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
    }

    &CtaBtn {
      display: flex;
      align-items: center;

      .secondaryBtn {
        margin-right: 3.4rem;
        font-size: 1.4rem;
        display: none;
        @media (min-width: 1250px) {
          display: none;
        }
        @media (max-width: 640px) {
          padding: 1rem 2rem;
        }
        @media (max-width: 480px) {
          padding: 0.4rem 0.8rem;
          font-size: $text-xs;
        }
        @media (max-width: 360px) {
          margin-right: 2rem;
        }
        @media (max-width: 340px) {
          display: none;
        }
      }
    }
    &MenuCta {
      text-align: center;
      .primaryBtn {
        margin-top: 3rem;
        font-size: 1.4rem;
      }
      @media (min-width: 1250px) {
        display: none;
      }
    }
    &-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1250px) {
        margin-bottom: 2rem;
      }
      svg {
        height: 6rem;
        display: block;

        @media screen and (max-width: 600px) {
          max-width: 16rem;
          height: auto;
        }
        @media screen and (max-width: 480px) {
          max-width: 11rem;
        }

        path.color-switch {
          fill: var(--text-color);
        }
      }

      button.navHamBtn {
        display: none;
        @media only screen and (max-width: 1250px) {
          display: block;
          width: 28px;
          height: 30px;
          background: none;
          border: none;

          & div {
            width: 100%;
            height: 3px;
            background: var(--text-color);
            margin: 4px auto;
            transition: all 0.3s;
            backface-visibility: hidden;

            &.two {
              width: 75%;
              margin-right: 0;
            }
          }

          &.on .one {
            transform: rotate(45deg) translate(5px, 5px);
          }

          &.on .two {
            opacity: 0;
          }

          &.on .three {
            transform: rotate(-45deg) translate(5px, -5px);
          }
        }
        @media (max-width: 480px) {
          width: 2rem;

          & div {
            margin: 5px auto;
            height: 2px;
          }

          &.on .one {
            transform: rotate(45deg) translate(5px, 4.5px);
          }
        }
      }

      @media only screen and (max-width: 1250px) {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 12;
        // position: absolute;
        // padding: 1.2rem 7.5vw;
        // background: var(--background2-color);
      }
    }
    &-links {
      @media (min-width: 1250px) {
        align-self: center;
      }
      align-self: stretch;
      justify-items: stretch;
      opacity: 1;
      transition: opacity 200ms ease;
      transition-delay: 350ms;
      padding-left: 1.4rem;

      @media only screen and (max-width: 1250px) {
        overflow-x: hidden;
        overflow-y: auto;
        // padding-top: 7.2rem;
        // padding-bottom: 2.4rem;
        height: 100vh;
        position: relative;
        z-index: 11;
        padding-left: 0;
      }

      & > ul {
        transform: translateX(3.6rem);
        display: flex;

        @media only screen and (max-width: 1250px) {
          transform: translateX(0);
          flex-direction: column;
        }
        & > li {
          display: flex;
          position: relative;
          padding: 0;
          @media (min-width: 1250px) {
            padding: 1rem 0;
          }
          @media (max-width: 1250px) {
            border-bottom: 1px solid var(--border-color);
          }
          & > a, & > span > a {
            color: var(--text-color);
          }
          & > a,
          & > span {
            @media (max-width: 1250px) {
              padding: 1.7rem;
              font-weight: 700;
              position: relative;
            }
            @media (max-width: 768px) {
              font-size: $text-base;
            }
            & > svg {
              display: none;
              transition: all 0.3s;
              @media (max-width: 1250px) {
                display: block;
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);
                path {
                  stroke: var(--text-color);
                }
              }
            }
          }

          & > span:hover,
          & > a:hover {
            cursor: pointer;
            color: var(--linkHover-color);
          }

          @media only screen and (max-width: 1250px) {
            flex-direction: column;
            font-weight: 500;
            font-size: $step-01;
          }
          &.active {
            // font-weight: 600;

            // @media (min-width: 1250px) {
            //   border-bottom: 3px solid var(--yellow-100);
            // }
            & > span,
            & > a {
              cursor: pointer;
              color: var(--linkHover-color);
            }
          }
          & > ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            min-width: 34rem;
            background-color: var(--background2-color);
            box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            z-index: 4;

            @media only screen and (max-width: 1250px) {
              background-color: transparent;
              // display: block;
              position: relative;
              padding: 0 1.7rem 2rem 1.7rem;
              top: 0;
              left: 0;
              box-shadow: none;
              // border-top: 1px solid var(--border-color);
              // margin-top: 3.2rem;
            }

            &::before {
              content: "";
              position: absolute;
              width: 2rem;
              height: 1.4rem;
              left: 2.8rem;
              top: -1.4rem;
              background: inherit;
              clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
              z-index: 2;
              @media only screen and (max-width: 1250px) {
                display: none;
              }
            }

            & > li {
              border-radius: 4px;
              overflow: hidden;
              transition: 250ms ease-in;
              @media only screen and (max-width: 1250px) {
                width: 98%;
              }

              & > a {
                & > span > svg,
                & span > p {
                  @media only screen and (max-width: 1250px) {
                    display: none;
                  }
                }
              }

              &:hover {
                background: var(--yellow-200);

                @media only screen and (max-width: 1250px) {
                  background-color: transparent;
                }

                & p {
                  color: var(--black-100);
                  @media only screen and (max-width: 1250px) {
                    color: var(--text-color);
                  }
                }
                & h5 {
                  color: var(--black-100);
                  @media only screen and (max-width: 1250px) {
                    color: var(--text-color);
                  }
                }
                & svg path {
                  fill: var(--black-100);
                  @media only screen and (max-width: 1250px) {
                    fill: var(--text-color);
                  }
                }
              }
              &:last-child a {
                @media only screen and (max-width: 1250px) {
                  padding: 0;
                }
              }
              & > a {
                padding: 2rem 2.4rem;
                display: grid;
                grid-template-columns: 4rem 1fr;

                @media only screen and (max-width: 1250px) {
                  padding: 0 0 1.5rem;
                  grid-template-columns: 1fr;
                }
              }

              & svg {
                transform: translateY(2px);
                path {
                  fill: var(--yellow-200);
                }
              }

              h5 {
                @media only screen and (max-width: 1250px) {
                  font-weight: 400;
                }
                @media (max-width: 768px) {
                  font-size: $text-sm;
                }
              }
              & p {
                font-size: $text-sm;
                color: var(--grey-400);
                margin-top: 0.4rem;
              }
            }
            & > li:not(:last-of-type) {
              // border-bottom: 1px solid var(--grey-100);
            }
          }
        }
        & > li:hover ul {
          display: block;
          @media only screen and (max-width: 1250px) {
            display: none;
          }
        }

        & > li.expanded {
          & > span {
            svg {
              transform: rotate(180deg) translateY(40%);
              path {
                stroke: var(--textAccent-color);
              }
            }
          }
        }
        & > li.expanded ul {
          @media only screen and (max-width: 1250px) {
            display: block;
          }
        }
        & > li:not(:last-of-type) {
          margin-right: 3rem;
          @media only screen and (max-width: 1250px) {
            margin-right: 0;
          }
        }
      }
    }
    &-actions {
      display: flex;
      align-items: center;
      margin-left: auto;
      opacity: 1;
      transition: opacity 200ms ease;
      transition-delay: 300ms;

      @media only screen and (max-width: 1250px) {
        justify-content: space-between;
        display: none;
        position: absolute;
        z-index: 12;
        bottom: 0;
        left: 0;
        padding-left: 7.5vw;
        padding-right: 7.5vw;
        width: 100%;
        background: var(--background2-color);
      }

      &--login {
        color: var(--text-color);
      }
      a {
        white-space: nowrap;
      }

      & > div:not(:last-of-type) {
        margin-right: 2rem;
      }

      &--darkSwitch {
        transform: translateX(2rem) scale(0.65);
        --bg-planet-bright: var(--yellow-100);
        --bg-planet-shadow: var(--background-color);
        --bg-planet-lightshadow: var(--yellow-100);
        --dot-size: 0.75rem;

        @media only screen and (max-width: 1250px) {
          transform: translateX(0) scale(1);
        }
        & > label {
          cursor: pointer;
          padding: 2rem;
          position: relative;
          display: block;

          /* To make outline on mobile invisible */
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

          input[type="checkbox"] {
            height: 0;
            width: 0;
            visibility: hidden;
            position: absolute;
          }

          .planet {
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            // overflow: hidden;
            background: radial-gradient(3.75em, 99%, transparent 100%);
            background-color: var(--bg-planet-bright);
            background-repeat: no-repeat;
            position: relative;
            will-change: background;
            transition: all 400ms ease;

            /* Safari transition issue */
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: translate3d(0, 0, 0);

            &::after {
              content: "";
              background-color: var(--bg-planet-shadow);
              width: 2.4rem;
              height: 2.4rem;
              position: absolute;
              border-radius: 50%;
              will-change: opacity, transform, background-color;
              opacity: 0;
            }
          }

          .elements {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 400ms ease;
          }
        }

        & > label .elements svg {
          position: absolute;
          width: 7px;
          height: 7px;
          opacity: 1;
          transition: transform 400ms ease, opacity 200ms ease, width 200ms ease,
            height 200ms ease;
        }

        & > label .elements svg circle {
          fill: var(--bg-planet-bright);
          transition: fill 400ms ease;
        }

        & > label .elements svg:first-child {
          transform: translate(1.8em, 0.35em);
        }

        & > label .elements svg:nth-child(2) {
          transform: translate(2.8em, 0.7em);
        }

        & > label .elements svg:nth-child(3) {
          transform: translate(3.2em, 1.8em);
        }

        & > label .elements svg:nth-child(4) {
          transform: translate(2.8em, 2.8em);
        }

        & > label .elements svg:nth-child(5) {
          transform: translate(1.8em, 3.2em);
        }

        & > label .elements svg:nth-child(6) {
          transform: translate(0.7em, 2.8em);
        }

        & > label .elements svg:nth-child(7) {
          transform: translate(0.35em, 1.8em);
        }

        & > label .elements svg:nth-child(8) {
          transform: translate(0.7em, 0.7em);
        }

        .bg-dark body {
          background-color: var(--bg-color);
        }

        & > label input:checked + .planet {
          --bg-planet-bright: var(--black-100);
        }

        & > label input:checked + .planet::after {
          opacity: 1;
          transform: translate(0.6em, -0.35em);
        }

        & > label input:checked ~ .elements {
          transform: rotate(180deg);
        }

        & > label input:checked ~ .elements svg:first-child {
          transform: translate(2em, 1em);
          opacity: 0;
        }

        & > label input:checked ~ .elements svg:nth-child(2) {
          transform: translate(3em, 1.5em);
          opacity: 0;
        }

        & > label input:checked ~ .elements svg:nth-child(3) {
          transform: translate(3em, 2em);
          opacity: 0;
        }

        & > label input:checked ~ .elements svg:nth-child(4) {
          transform: translate(3em, 2em);
          opacity: 0;
        }

        & > label input:checked ~ .elements svg:nth-child(5) {
          transform: translate(1.9em, 2.6em);
          width: 0.3em;
          height: 0.3em;
        }

        & > label input:checked ~ .elements svg:nth-child(5) circle {
          fill: var(--bg-planet-lightshadow);
        }

        & > label input:checked ~ .elements svg:nth-child(6) {
          transform: translate(1.4em, 2.5em);
          width: 0.3em;
          height: 0.3em;
        }

        & > label input:checked ~ .elements svg:nth-child(6) circle {
          fill: var(--bg-planet-lightshadow);
        }

        & > label input:checked ~ .elements svg:nth-child(7) {
          transform: translate(1.1em, 1.6em);
          width: 0.7em;
          height: 0.7em;
        }

        & > label input:checked ~ .elements svg:nth-child(7) circle {
          fill: var(--bg-planet-lightshadow);
        }

        & > label input:checked ~ .elements svg:nth-child(8) {
          width: 0.45em;
          height: 0.45em;
          transform: translate(1.7em, 2.1em);
        }

        & > label input:checked ~ .elements svg:nth-child(8) circle {
          fill: var(--bg-planet-lightshadow);
        }
      }
    }
  }
}
