*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  @media only screen and (min-width: 1900px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 2560px) {
    font-size: 18px;
  }
  @media only screen and (min-width: 3100px) {
    font-size: 24px;
  }
}

::selection {
  //background-color: $primary-blue;
  //color: $white;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
  line-height: 1.5;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $primaryFont;
  transition: background-color 350ms ease-in;
  &::-webkit-scrollbar {
    background-color: var(--background2-color);
    width: 0.75rem;
    border-radius: 1.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primaryBtn-color);
    border-radius: 1.2rem;
  }
}

main {
  min-height: 100vh;
}

section.noBg-color {
  background: transparent;
}

a {
  text-decoration: none;
  color: currentColor;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

p,
article {
  //word-break: break-word;
  //hyphens: auto;
}

body.no-scroll {
  overflow: hidden;
}
button {
  cursor: pointer;
}

button,
input,
select,
label {
  font-family: inherit;
  color: inherit;
}
