//background
//text
//accentText
//primaryGrad
//secondaryGrad
//tertiaryGrad
//link
//linkHover
//linkActive
//tick

body.light {
  --background-color: var(--white);
  --background2-color: var(--grey-200);
  --background3-color: var(--grey-600);
  --background4-color: var(--grey-500);
  --background-cream: var(--cream);
  --background-navy: var(--black-100);
  --grey-light-dark: var(--grey-600);
  --background-box: var(--white);

  // --gradient-yellow: var(--yellowish);

  --text-color: var(--black-100);
  --text-offgrey: var(--grey-300);
  --textAccent-color: var(--orange-100);
  --tick-color: var(--green-200);
  --brown-text: var(--brown);

  --primaryBtn-color: var(--orangish);
  --textOnPrimaryBtn-color: var(--white);
  --secondaryBtn-color: var(--yellowish);
  --textOnSecondaryBtn-color: var(--black-100);
  --tertiaryBtn-color: var(--black-100);
  --textOnTertiaryBtn-color: var(--white);
  --link-color: var(--black-100);
  --linkHover-color: var(--orange-100);
  --linkActive-color: var(--black-200);

  --border-color: var(--grey-100);
  --border-orange: var(--orange-100);

  // logo gradient
  --logo-gradient: var(--logo-color);
  --logo-gradient2: var(--logo-color2);

  // Hiw gradients
  --gradient-yellow: var(--lightYellowish);
  --gradient-orange: var(--lightOrangish);
  --gradient-red: var(--lightRedish);
  --gradient-purple: var(--lightRedish100);
  --gradient-blue: var(--lightBluish);
  --gradient-greenish: var(--lightGreenish);
  --gradient-green: var(--lightGreenish100);
  --gradient-grey: var(--lightGreyish);
}
body.dark {
  --background-color: var(--black-200);
  --background2-color: var(--black-300);
  --background3-color: var(--black-100);
  --background4-color: var(--black-200);
  --background-cream: var(--black-100);
  --background-box: var(--black-100);
  --grey-light-dark: var(--grey-dark);

  // --gradient-yellow: linear-gradient(180deg, #070707 0%, #f4ca17 99.26%);

  --text-color: var(--offwhite);
  --text-offgrey: var(--offwhite);
  --text-grey: var(--grey-300);
  --textAccent-color: var(--yellow-100);
  --brown-text: var(--white);
  --tick-color: var(--yellow-100);

  --primaryBtn-color: var(--bluish);
  --textOnPrimaryBtn-color: var(--white);
  --secondaryBtn-color: var(--yellowish);
  --textOnSecondaryBtn-color: var(--black-100);
  --tertiaryBtn-color: var(--black-100);
  --textOnTertiaryBtn-color: var(--white);
  --link-color: var(--grey-100);
  --linkHover-color: var(--yellow-100);
  --linkActive-color: var(--orange-200);

  --border-color: var(--border-dark);
  --border-orange: var(--yellow-100);

  // logo gradient
  --logo-gradient: var(--dark-color);
  --logo-gradient2: var(--dark-color2);

  // Hiw gradients
  --gradient-yellow: var(--darkYellow);
  --gradient-orange: var(--darkOrange);
  --gradient-red: var(--darkRed);
  --gradient-purple: var(--darkPurple);
  --gradient-blue: var(--darkBlue);
  --gradient-greenish: var(--darkGreenish);
  --gradient-green: var(--darkGreen);
  --gradient-grey: var(--darkGrey);
}
