h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
h1 {
  font-size: $step-05;
  line-height: 1.3;
  @media only screen and (max-width: 640px) {
    font-size: $step-03;
  }
}
h2 {
  font-size: $step-04;
  line-height: 1.3;
  @media only screen and (max-width: 640px) {
    font-size: $step-03;
  }
}
h3 {
  font-size: $step-03;
  line-height: 1.3;
  @media only screen and (max-width: 640px) {
    font-size: $step-02;
  }
}
h4 {
  font-size: $step-02;
  line-height: 1.4;
}
h5 {
  font-size: $text-base;
  line-height: 1.5;
}

p {
  font-size: $text-base;
  line-height: 1.5;
}

p.bodyCopyLarge {
  font-size: $step-01;
}

p.bodyCopyItalic {
  font-size: $step-01;
  font-style: italic;
}

p.accentText {
  font-size: $text-sm;
}

// text colors
.text {
  &--orange {
    color: var(--textAccent-color);
    border-bottom: 2px solid var(--border-orange);
  }
}

.success {
  color: var(--green-200);
  font-weight: bold;
  margin-top: 1rem;
  // display: none;
}
