.not-found{
    text-align: center;
    img,p{
        margin: 0 auto;
    }
    p{
        width: 30%;
        @media only screen and (max-width: 640px) {
            width: 100%;
            }
    }

    h4,a{
        margin: 2rem 0;
    }
    h4{
        margin-bottom: 0;
    }
   
}
.not-found-main{
    display: flex;
    align-items: center;
    width: 100%;
    section{
        width: 100%;
        margin-top: -20vh;
    }
}