div,
section {
    &.ap-box {
        background-color: var(--black-100);
        border-radius: 15px;
        overflow: hidden;
        position: relative;

        .leftRightGrid-image {
            z-index: 9;

            img {
                width: 60%;
                margin: auto;
                @media (max-width:600px) {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                width: 18rem;
                height: 100%;
                background: var(--primaryBtn-color);
                top: 50%;
                right: 10%;
                -webkit-transform: translateY(-50%) skew(-35deg);
                -ms-transform: translateY(-50%) skew(-35deg);
                transform: translateY(-50%) skew(-35deg);
                position: absolute;
                z-index: -1;

                @media (max-width:600px) {
                    width: 14rem;
                    height: 100%;
                    background: var(--primaryBtn-color);
                    top: 75%;
                    right: 18%;
                    -webkit-transform: translateY(-50%) skew(-35deg);
                    -ms-transform: translateY(-50%) skew(-35deg);
                    transform: translateY(-50%) skew(-35deg);
                    position: absolute;
                    z-index: -1;
                }
            }
        }

        h2 {
            color: var(--yellow-100);
            padding-bottom: 20px;
        }

        p {
            color: var(--white);
            padding-bottom: 30px;
        }

        .ap-box-content {
            padding-left: 7rem;

            @media (max-width:600px) {
                padding-left: 0rem;
                padding: 2rem;
            }

            @media (min-width:768px)and(max-width:1024px) {
                padding: 2rem 0rem 2rem 2rem;

                h2 {
                    font-size: 26px;
                }
            }
        }
    }

    &.about-banner {
        background-color: var(--black-100);
        padding: 8rem 5rem;

        @media (max-width:600px) {
            padding: 3rem;
        }

        .about-htxt {
            text-align: center;

            h1 {
                color: var(--white);
                padding-bottom: 20px;
            }

            p {
                color: var(--white);
                max-width: 100%;
            }
        }

        .ab-animation {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            height: 450px;

            @media (max-width:600px) {
                height: 260px;
            }

            .circle-1-ani {
                animation: crcl-1 1.5s forwards;
                animation-direction: alternate;
                animation-delay: 0.2s;

                @keyframes crcl-1 {
                    0% {
                        left: 0;
                    }

                    100% {
                        left: 21%
                    }
                }
            }

            .circle-1 {
                margin-right: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0;

                @media (max-width:600px) {
                    animation: crcl-1 1.5s forwards;
                    animation-direction: alternate;
                    animation-delay: 0.2s;
                    width: 80%;
                    position: absolute;
                    left: -100%;

                    @keyframes crcl-1 {
                        0% {
                            left: -100px;
                        }

                        100% {
                            left: -40px;
                        }
                    }
                }

                @media (min-width:768px)and (max-width:1024px) {
                    margin-right: 0px;
                    left: -100px;
                    opacity: 0;

                    @keyframes crcl-1 {
                        0% {
                            left: -100px;
                            opacity: 0.6;
                        }

                        100% {
                            left: -20px;
                            opacity: 1;
                        }
                    }
                }

                .p-ani {
                    animation: p-c1 1s ease-in forwards;
                    animation-delay: 0s;
                    animation-direction: alternate;

                    @keyframes p-c1 {
                        0% {
                            position: absolute;
                            left: 20%;
                        }

                        100% {
                            position: absolute;
                            left: 20%;
                        }
                    }

                    @media (max-width:600px) {
                        @keyframes p-c1 {
                            0% {
                                position: absolute;
                                left: 20%;
                            }

                            100% {
                                position: absolute;
                                left: 10%;
                            }
                        }
                    }
                }

                p {
                    color: var(--white);
                    position: absolute;
                    font-size: 18px;

                    @media (max-width:600px) {
                        animation: p-c1 1s ease-in forwards;
                        animation-delay: 1s;
                        animation-direction: alternate;
                        font-size: 14px;
                    }
                }
            }

            .circle-2-ani {
                animation: crcl-2 1.5s forwards;
                animation-direction: alternate;
                animation-delay: 0.2s;

                @keyframes crcl-2 {
                    0% {
                        right: 0;
                    }

                    100% {
                        right: 21%
                    }
                }
            }

            .circle-2 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
                position: absolute;
                right: 0;

                @media (max-width:600px) {
                    animation: crcl-2 1.5s forwards;
                    animation-direction: alternate;
                    animation-delay: 0.2s;
                    width: 80%;
                    position: absolute;
                    right: -100%;

                    @keyframes crcl-2 {
                        0% {
                            right: -100px;
                        }

                        100% {
                            right: -40px;
                        }
                    }
                }

                @media (min-width:768px)and(max-width:1024px) {
                    margin-left: 0px;
                    right: -100px;
                    opacity: 0;

                    @keyframes crcl-2 {
                        0% {
                            right: -100px;
                            opacity: 0.6;
                        }

                        100% {
                            right: -20px;
                            opacity: 1;
                        }
                    }
                }

                .p2-ani {
                    animation: p-c2 1s ease-in forwards;
                    animation-delay: 0s;
                    animation-direction: alternate;

                    @keyframes p-c2 {
                        0% {
                            position: absolute;
                            right: 20%;
                        }

                        100% {
                            position: absolute;
                            right: 20%;
                        }
                    }

                    @media (max-width:600px) {
                        @keyframes p-c2 {
                            0% {
                                position: absolute;
                                right: 20%;
                            }

                            100% {
                                position: absolute;
                                right: 10%;
                            }
                        }
                    }
                }

                p {
                    color: var(--white);
                    position: absolute;
                    font-size: 18px;

                    @media (max-width:600px) {
                        animation: p-c2 1s ease-in forwards;
                        animation-delay: 1s;
                        animation-direction: alternate;
                        font-size: 14px;
                    }
                }
            }

            .btw-img-ani {
                animation: btw-img 1.5s forwards;
                animation-direction: alternate;
                animation-delay: 0.5s;

                @keyframes btw-img {
                    0% {
                        opacity: 0;
                        margin-top: 0px;
                    }

                    100% {
                        opacity: 1;
                        margin-top: 0px;
                    }
                }
            }

            .btw-img {
                opacity: 0;

                @media (max-width:600px) {
                    img {
                        width: 80%;
                        margin: auto;
                    }

                    animation: btw-img 1.5s forwards;
                    animation-direction: alternate;
                    animation-delay:0.2s;
                }
            }
        }
    }

    &.scroll-logos {
        .logoWrap {
            width: 100%;
            background-color: var(--white);
            display: grid;
            margin: 10px;
        }
    }

    &.ab-slider-sec {
        background-color: var(--black-100);

        .ab-slide-txt {
            text-align: center;
            margin-bottom: 50px;

            h2 {
                color: var(--white);
                padding-bottom: 10px;
            }

            p {
                color: var(--white);
                max-width: 40%;
                margin: auto;
                padding-bottom: 10px;

                @media (min-width:768px)and (max-width:1024px) {
                    max-width: 65%;
                }

                @media (max-width:600px) {
                    max-width: 100%;
                }
            }
        }
    }

    &.slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: 45px;
            padding: 0;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            border-radius: 50%;
            @media (max-width:600px) {
                width: 30px;
            }
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50%;
        }

        .fade {
            animation-name: fade;
            animation-duration: 2.5s;
        }

        @keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        .grid-three-ab {
            display: grid;
            grid-template-columns: 100%;
            gap: 21px;
            width: 85%;
            margin: auto;

            @media (max-width:600px) {
                grid-template-columns: 100%;
                margin: auto;
            }

            .card-ab-box {
                border-radius: 15px;
                overflow: hidden;
                margin: 10px;
                position: relative;

                &:hover {
                    .ab-bt-txt {
                        background: rgba(1, 0, 0, 0.815);
                        height: 100%;
                        padding: 30px;
                        transition: 0.3s ease-in;
                    }
                }

                .overlay-ab-card {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: 1s ease;
                    background-color: #000000c2;
                }

                .ab-bt-txt {
                    position: absolute;
                    bottom: 0;
                    height: 150px;
                    padding: 100px 20px 20px;
                    width: 100%;
                    background: rgb(2, 0, 36);
                    background: linear-gradient(0.57deg, rgba(35, 35, 35, 0.9) 25.9%, rgba(35, 35, 35, 0) 80.91%);

                    h5 {
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 31px;
                        padding-bottom: 15px;
                        color: #F7EC00;
                    }

                    p {
                        color: var(--white);
                    }
                }
            }
        }

    }

    &.ab-founder {
        display: grid;
        grid-template-columns: 44% 56%;
        border-radius: 15px;
        overflow: hidden;

        @media (max-width:600px) {
            grid-template-columns: 100%;
        }

        @media (min-width:768px)and(max-width:1024px) {
            grid-template-columns: 47% 53%;
        }

        .L-founder {
            background-color: #FFC6A8;
            display: flex;
            align-items: flex-end;

            @media (min-width:768px)and(max-width:1024px) {
                display: flex;
                align-items: flex-end;
            }
        }

        .R-founder {
            background-color: #ffc6a850;
            padding: 5rem 7rem;

            @media (max-width:600px) {
                padding: 25px;
            }

            @media (min-width:768px)and(max-width:1024px) {
                padding: 3rem;
                height: 470px;
                overflow-y: auto;
            }

            .fs-2 {
                font-size: 60px;
                max-width: 70%;
                font-weight: 700;
                padding-bottom: 0px;
                line-height: 60px;
                padding-bottom: 10px;

                @media (max-width:600px) {
                    max-width: 100%;
                    font-size: 46px;
                    line-height: 45px;
                }

                @media (min-width:768px)and(max-width:1024px) {
                    max-width: 100%;
                    font-size: 46px;
                }
            }

            .fs-5 {
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 20px;
            }

            .founder-social {
                padding-top: 4rem;

                ul {
                    display: flex;

                    li {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    &.team-sec {
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 17px;

        @media (max-width:600px) {
            grid-template-columns: 100%;
            gap: 15px;
        }

        @media (min-width:768px)and(max-width:1024px) {
            grid-template-columns: 32.5% 32.5% 32.5%;
            gap: 9px;
        }

        .team-mem-card {
            position: relative;
            overflow: hidden;
            border-radius: 15px;

            &:hover {
                cursor: pointer;

                .mem-overlay {
                    opacity: 1;
                }
            }

            &:nth-child(1n) {
                background-color: #FCE1D3;

                .mem-overlay {
                    background-color: #fce1d3e1;
                    .BB-p{
                        p{
                            font-size: 14px;
                            @media (max-width:600px) {
                                font-size: 18px;
                            }
                            border-bottom: 1px solid #F3C2A8;
                            padding-bottom: 5px;
                        }
                    }
                }
            }

            &:nth-child(2n) {
                background-color: #D8EDF8;

                .mem-overlay {
                    background-color: #d8edf8da;
                    .BB-p{
                        p{
                            font-size: 14px;
                            @media (max-width:600px) {
                                font-size: 18px;
                            }
                            border-bottom: 1px solid #AFD4E8;
                            padding-bottom: 5px;
                        }
                    }
                }
            }

            &:nth-child(3n) {
                background-color: #ECF5D8;

                .mem-overlay {
                    background-color: #ecf5d8df;
                    .BB-p{
                        p{
                            font-size: 14px;
                            @media (max-width:600px) {
                                font-size: 18px;
                            }
                            border-bottom: 1px solid #C4DA92;
                            padding-bottom: 5px;
                        }
                    }
                }
            }

            &:nth-child(4n) {
                background-color: #F6D5E2;

                .mem-overlay {
                    background-color: #f6d5e2e6;
                    .BB-p{
                        p{
                            font-size: 14px;
                            @media (max-width:600px) {
                                font-size: 18px;
                            }
                            border-bottom: 1px solid #F0B8CE;
                            padding-bottom: 5px;
                        }
                    }
                }
            }

            &:nth-child(8n) {
                background-color: #D8EDF8;

                .mem-overlay {
                    background-color: #d8edf8da;
                }
            }
            .mem-overlay {
                border-radius: 15px;
                color: var(--black-100);
                overflow: hidden;
                position: absolute;
                top: 0;
                bottom: 0;
                padding: 2.5rem;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;

                @media (min-width:768px)and(max-width:1024px) {
                    padding: 2rem;
                }

                @media (max-width:600px) {
                    padding: 2rem;
                }

                p {
                    margin-bottom: 10px;
                    font-size: 13px;

                    @media (max-width:600px) {
                        margin-bottom: 10px;
                        font-size: 18px;
                    }
                    @media (min-width:768px)and(max-width:1024px) {
                        font-size: 12px;
                    }
                }
                h5{
                    font-size: 20px;
                    @media (max-width:600px) {
                        font-size: 22px;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}



img {
    &.w--100 {
        min-width: 100%;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}