// common format
.centerSectionHeading.commonHeading {
  h2 {
    max-width: 70rem;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
  p {
    max-width: 70rem;

    @media (max-width: 768px) {
      max-width: 100%;
    }

    &:nth-of-type(1) {
      margin-top: 2rem;
    }
  }

  margin-bottom: 4.8rem;
}

.commonLayout.leftRightGrid {
  &-graphics,
  &-content {
    @media (min-width: 768px) {
      margin-top: 0 !important;
    }
  }
}

// banner
.b2cBanner {
  padding: 10rem 0;
  @media (max-width: 768px) {
    padding: 3rem 0;
  }
  &-section {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right bottom;
    height: 100%;
    background-color: var(--background3-color);
    border-radius: 10px;
    gap: 0;

    @media (max-width: 1024px) {
      background-size: 55%;
    }
    @media (max-width: 768px) {
      background-size: 80%;
      background-position: center bottom;
    }
    @media (max-width: 640px) {
      background-size: 100%;
    }
    @media (max-width: 450px) {
      background-size: 140%;
    }
  }

  &-content {
    padding: 6rem 0 6rem 6rem;

    @media screen and (max-width: 1090px) and (min-width: 769px) {
      padding: 4rem 0 4rem 4rem;
    }

    @media (max-width: 768px) {
      padding: 0rem 5vw 3rem;
    }

    h1 {
      margin-bottom: 2rem;

      @media (max-width: 640px) {
        margin-bottom: 1.6rem;
      }
    }
    p {
      margin-bottom: 4rem;

      @media (max-width: 640px) {
        margin-bottom: 2rem;
      }
    }
    h1 {
      @media (max-width: 1366px) and (min-width: 768px) {
        font-size: $step-04;
      }
    }
  }

  &-graphics {
    img {
      max-width: 28rem;
      object-fit: cover;
      margin: -7rem auto;

      @media (max-width: 768px) {
        margin: 0 auto;
      }
    }

    @media (max-width: 768px) {
      margin-top: 0;
      max-width: 23rem;
    }
  }
}

// business
.b2cBusiness {
  gap: 4rem;

  @media (max-width: 768px) {
    margin-top: 4rem;
    gap: 0;
  }

  &-section {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--background2-color);
      height: 64%;
      width: 100vw;
      z-index: -1;
    }

    .b2cBusiness__item {
      background: var(--background-box);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 7rem 2.4rem;
      text-align: center;
      max-width: 30rem;

      @media (max-width: 768px) {
        max-width: 100%;
      }

      img {
        margin: 0 auto 4rem;
      }
    }
  }
}

// features benefits left right
.b2cBenefit {
  background-color: transparent;

  &--features {
    padding-top: 0 !important;

    &::after {
      display: none;
    }

    .leftRightGrid {
      &:nth-child(1) {
        padding-top: 0 !important;
      }

      &.leftRightGrid-reversed {
        align-items: center !important;
      }
    }
  }
}

// why whatcx
.b2cwhatcx {
  gap: 4rem;

  @media (max-width: 768px) {
    margin-top: 4rem;
    gap: 0;
  }

  &-section {
    padding: 4.8rem 0;

    @media (max-width: 767px) {
      padding: 3rem 0;
    }
  }

  &__box {
    padding: 7rem 6.5vw;
    background-color: var(--black-100);
    color: var(--white);
    border-radius: 1rem;

    @media screen and (max-width: 1024px) and (min-width: 769px) {
      padding: 5rem 6.5vw;
    }

    @media (max-width: 768px) {
      padding: 3rem 6.5vw;
    }

    .centerSectionHeading {
      p {
        max-width: 55rem;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }

  &__item {
    position: relative;
    padding: 0 0 5rem;
    text-align: center;
    overflow: hidden;
    margin-bottom: 4.8rem;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.7rem;
      left: 0;
      bottom: 0;
      border-radius: 10px 10px 0px 0px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &:nth-of-type(1)::after {
      background: var(--greenish);
    }
    &:nth-of-type(2)::after {
      background: var(--orangish);
    }
    &:nth-of-type(3)::after {
      background: var(--bluish);
    }
    &:nth-of-type(4)::after {
      background: var(--yellowish);
    }

    img {
      margin: 0 auto 3rem;
    }
    h5 {
      font-size: $step-01;
      margin-bottom: 2rem;
    }
    p {
      max-width: 22rem;
      margin: 0 auto;
    }
  }

  &--btn {
    text-align: center;
  }
}

// journey
.b2cJourney {
  .centerSectionHeading {
    p {
      max-width: 70rem;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
  }

  &--progress {
    max-width: 51.5vw;
    width: 100%;
    margin: 3rem auto;
    text-align: center;

    @media (max-width: 786px) {
      display: none;
    }

    img,
    svg {
      width: 100%;
    }
  }

  &--process {
    margin-top: 7rem;

    @media (max-width: 786px) {
      margin-top: 2rem;
    }

    .leftRightGrid {
      .leftRightGrid-image {
        img {
          max-height: 46rem;
          width: auto;
        }
      }

      .leftRightGrid-content {
        position: relative;

        & > div {
          max-width: 45rem;
          margin: 0 0 0 auto;

          @media (max-width: 768px) {
            padding-left: 12vw;
          }
        }

        h3 {
          max-width: 37rem;
          margin-bottom: 1.6rem;
        }

        &::before {
          content: attr(data-step);
          position: absolute;
          top: 5vw;
          left: -2vw;
          transform: translateX(-54%);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4.4rem;
          height: 4.4rem;
          padding-top: 2px;
          font-weight: 600;
          font-size: $step-02;

          color: var(--white);
          border-radius: 50%;
          z-index: 1;

          @media (max-width: 1024px) {
            top: 0vw;
          }
          @media (max-width: 600px) {
            left: 3vw;
          }
        }
      }

      @media (max-width: 768px) {
        padding-bottom: 5rem;
      }

      @media (max-width: 768px) {
        gap: 5rem;
      }

      @media (min-width: 769px) {
        &.leftRightGrid-reversed {
          .leftRightGrid-image {
            img {
              margin-left: auto;
            }
          }

          .leftRightGrid-content {
            & > div {
              max-width: 45rem;
              margin: 0 auto 0 0;
            }

            &::before {
              top: unset;
              left: unset;
              bottom: 5vw;
              right: -2vw;
              transform: translateX(50%);
            }
          }
        }
      }
    }

    .leftRightGrid:nth-child(1n) {
      .leftRightGrid-content {
        &::before {
          background-color: var(--orange-100);
        }
      }
    }
    .leftRightGrid:nth-child(3n) {
      .leftRightGrid-content {
        &::before {
          background-color: var(--green-200);
        }
      }
    }
    .leftRightGrid:nth-child(5n) {
      .leftRightGrid-content {
        &::before {
          background-color: var(--blue-200);
        }
      }
    }
    .leftRightGrid:nth-child(7n) {
      .leftRightGrid-content {
        &::before {
          background-color: var(--green-100);
        }
      }
    }
  }
}

// testimonial
.b2cTestimonial {
  .ppTest .ppTestSlide-slider {
    max-width: 87rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--background2-color);

    &::before,
    &::after {
      display: none;
    }

    &--item {
      p {
        font-size: 2rem;
        max-width: 52rem;
      }
    }
  }
}

// brochure
.b2cBrochure {
  padding-top: 0;
}
