.fpScheduleADemo-section.bpBanner {
  .fpScheduleADemoG {
    overflow: unset;
    background: var(----background-color);
    color: var(--text-color);
    padding: 6rem 0;
    grid-template-columns: 1.5fr 1fr;
    &::after {
      right: 0;
      background: var(--greenish);
      @media screen and (max-width: 768px) {
        transform: translateY(-44%) skew(-54deg);
      }
    }
    @media screen and (max-width: 768px) {
      padding: 4rem 0;
    }
    @media screen and (max-width: 768px) {
      &-content {
        p {
          margin: 2rem 0 2.8rem;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    overflow: hidden;
  }
}
.ppBrochureSection.bpGreySection {
  .ppBrochure {
    @media screen and (max-width: 768px) {
      margin-top: 4rem;
    }
    &::after {
      display: none;
    }
    & > p {
      padding: 2rem 0 0;
      margin-bottom: 0;
    }
    @media screen and (max-width: 768px) {
      padding: 5rem 5vw;
    }
  }
}
.bpBenefit {
  .centerSectionHeading {
    text-align: center;
  }
  .threeColWithCenteredOrphans {
    gap: 0 2rem;
    @media screen and (max-width: 1024px) {
      & > * {
        margin: 0;
      }
    }
    @media screen and (max-width: 768px) {
      & > :not(:last-of-type) {
        margin-bottom: 0;
      }
    }
  }
  .bpBenefitCard {
    text-align: center;
    padding: 5.6rem 3rem;
    border-radius: 1rem;
    @media screen and (max-width: 768px) {
      padding: 4rem 2rem;
    }
  }
  &--smallTitle {
    padding-top: 2.5rem;
    color: var(--text-offgrey);
  }
  &--title {
    padding-top: 2rem;
  }
  &--dsc {
    padding-top: 2rem;
  }
  &--icon {
    width: 8.5rem;
    height: 8.5rem;
    margin: 0 auto;
    svg {
      height: 100%;
      width: 100%;
    }
  }
  a.secondaryBtn--white {
    background: var(--background3-color);
  }
}
.whywhatcx {
  background: var(--black-100);
  color: var(--textOnPrimaryBtn-color);
  .centerSectionHeading {
    margin-bottom: 7rem;
    p {
      padding-top: 2rem;
      max-width: 70rem;
    }
    @media screen and (max-width: 768px) {
      padding-left: 4vw;
      padding-right: 4vw;
      margin-bottom: 4rem;
    }
  }
  &--steps {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    &:not(:last-child) {
      border-bottom: 1px solid rgba(153, 153, 153, 0.1);
    }
    position: relative;
    .whywhatcxG-content {
      max-width: 44.6rem;
      p {
        padding-top: 2rem;
      }
      .fpaccordion {
        border: none;
        &-arrow svg path {
          stroke: var(--white);
        }
        &-header {
          .btn-link {
            padding: 0;
            padding-top: 2rem;
            h4 {
              padding-top: 0rem;
            }
          }
        }
        &-body {
          padding: 0;
        }
      }
    }
    .whywhatcxG-graphics {
      padding-top: 10rem;
      @media screen and (max-width: 768px) {
        padding-top: 0;
      }
    }

    &.steps3 {
      padding: 4.7rem 0;
      .whywhatcxG-graphics {
        padding-top: 0;
      }
      @media only screen and (max-width: 768px) {
        padding: 0rem 0 4rem;
      }
    }
    &.steps4 {
      padding: 7.5rem 0;
      @media only screen and (max-width: 768px) {
        padding: 0rem 0 4rem;
      }
      .whywhatcxG-graphics {
        padding-top: 0;
      }
      .whywhatcxG {
        @media only screen and (max-width: 768px) {
          flex-direction: column-reverse;
        }
      }
    }
    &::after {
      content: "";
      width: 1rem;
      height: 100%;
      background: var(--greenish);
      top: 0%;
      right: 0%;
      position: absolute;
      z-index: 1;
      @media only screen and (max-width: 768px) {
        bottom: 0;
        width: 100%;
        height: 1rem;
        top: auto;
      }
    }
    &.steps2 {
      .whywhatcxG {
        @media only screen and (max-width: 768px) {
          flex-direction: column-reverse;
        }
      }
      &::after {
        right: auto;
        left: 0;
        background: var(--orangish);
      }
    }
    &.steps3 {
      &::after {
        background: var(--bluish);
      }
    }
    &.steps4 {
      &::after {
        right: auto;
        left: 0;
        background: var(--yellowish);
      }
    }
    h4 {
      font-size: $step-01;
      padding-top: 2rem;
      color: var(--yellow-200);
      &.tick__icon {
        display: flex;
        align-items: center;
        svg {
          padding-left: 1rem;
        }
      }
    }
    .t-and-c {
      font-size: 1rem;
      margin-top: 2.8rem;
      font-style: italic;
    }
  }
}
.bp-readyToGetStarted {
  padding: 4.8rem 0 0;
  .fpScheduleADemoG {
    padding: 5rem 5vw;
    @media only screen and (max-width: 768px) {
      padding: 5rem 5vw 35rem;
    }
    &::after {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      background: url("../images/benefits/readyToGetStartedRightIcon.svg") no-repeat;
      right: 0;
      bottom: 0;
      width: 40rem;
      height: 29rem;
      @media only screen and (max-width: 768px) {
        background: url("../images/benefits/readyToGetStartedRightIcon-m.svg") no-repeat;
      }
    }
    .fpScheduleADemoG-content {
      h2 {
        color: var(--yellow-200);
      }
      p {
        margin: 2rem 0;
      }
      .ctaWrap {
        padding-top: 2rem;
        a {
          &:not(:last-child) {
            margin-right: 2rem;
            @media only screen and (max-width: 640px) {
              margin-bottom: 2rem;
              justify-content: center;
            }
          }
          &:not(:first-child) {
            &:hover {
              color: var(--yellow-100);
            }
          }
          @media only screen and (max-width: 640px) {
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
.loadMoreOptions.d-n {
  display: none;
}
