//  Benefits section
.blogWorks {
  padding-bottom: 0;

  .hpWorks {
    overflow: hidden;
    border-radius: 10px;

    @media (max-width: 640px) {
      padding: 0 !important;
    }

    &.leftRightGrid {
      gap: 0;

      @media (min-width: 1025px) {
        grid-template-columns: 1.2fr 0.8fr;
      }
    }

    &-Section {
      padding: 0;
    }

    &-graphics {
      width: 100%;
      max-height: 100%;
      height: 100%;

      @media (max-width: 1440px) {
        max-height: 42rem;
      }

      img {
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }

    &-content {
      position: relative;
      @media (min-width: 769px) {
        padding: 4.5vw 0 4.5vw 4vw;
      }
      @media (max-width: 768px) {
        margin-top: 0;
      }

      &--small {
        color: var(--yellow-100);
        font-size: $step-01;
        font-weight: 700;
        margin-bottom: 2rem;
        @media (max-width: 768px) {
          margin-bottom: 1.6rem;
        }
      }

      &--heading {
        @media (min-width: 1401px) {
          margin-right: -3rem;
        }
        @media (max-width: 1400px) {
          font-size: $step-04;
        }
        @media (max-width: 640px) {
          font-size: $step-03;
        }
      }

      & > p {
        margin: 1.5rem 0 0;
        color: #fff;
        font-weight: 400;

        @media (max-width: 1400px) {
          margin: 1rem 0 1.6rem;
          margin-bottom: 2rem;
        }
      }

      a {
        font-size: 1.8rem;
        max-width: 15rem;

        img {
          width: 1.6rem;
          height: 1.5rem;
          display: inline-block;
          margin-left: 0.8rem;
        }
      }
    }
  }
}

// blog card section

.blogCard {
  &-section {
    .tab__filterBtnWrap {
      margin-bottom: 7rem;
    }

    .threeColWithCenteredOrphans {
      @media (min-width: 1200px) {
        gap: 2rem;
      }

      @media (max-width: 640px) {
        margin: 0;
      }
    }
  }
  // section wrapper
  &__wrapper {
    margin: 0 auto;
    position: relative;
  }

  // section main heading
  &__head {
    margin-bottom: 4.8rem;

    @media (max-width: 768px) {
      margin-bottom: 3rem;
    }

    h2 {
      font-size: $step-03;
    }
  }

  // slider buttons
  &-btnPrev,
  &-btnNext {
    position: absolute;
    top: 50%;
    background-color: var(--black-100);
    padding: 1.5rem;
    border: none;
    transform: translateY(-50%);
    border-radius: 10px;
    z-index: 1;

    svg {
      width: 2rem;
      height: 2rem;
      display: block;
    }
  }
  &-btnPrev {
    left: 0;

    @media (max-width: 1300px) {
      left: -1.5vw;
    }

    @media (max-width: 768px) {
      top: unset;
      bottom: -2rem;
      right: unset;
      left: 0;
    }
  }

  &-btnNext {
    right: 0;

    @media (max-width: 1300px) {
      right: -1.5vw;
    }

    @media (max-width: 768px) {
      top: unset;
      bottom: -2rem;
      right: unset;
      left: 6rem;
    }
  }
}

.recent-slider {
  max-width: 110rem;
  margin: 0 auto;

  @media (max-width: 1023px) {
    margin: 0 -1rem;
  }
  @media (max-width: 768px) {
    padding-bottom: 7rem;
  }

  .slick-track {
    display: flex;
  }

  .blogCard {
    padding: 0 1rem;
    margin: 0;
    height: inherit;

    &__content {
    }
  }
}
// main blog page ends
