// blog single section
.blogSingle {
  border-bottom: 1px solid var(--border-color);
  color: var(--white);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 68rem;
    background-color: var(--black-100);

    @media (max-width: 900px) {
      min-height: 60rem;
    }
    @media (max-width: 768px) {
      min-height: 45rem;
    }
    @media (max-width: 600px) {
      min-height: 40rem;
    }
  }

  .container-small {
    max-width: 88rem;
    position: relative;
  }

  &__heading {
    margin-bottom: 7rem;
    color: currentColor;

    @media (min-width: 768px) and (max-width: 1170px) {
      font-size: $step-04;
    }
    @media (max-width: 768px) {
      margin-bottom: 3rem;
    }
  }

  &__area {
    display: flex;
  }

  &__date {
    color: var(--grey-300);
    font-size: $text-sm;
    font-weight: 400;
    flex-grow: 1;
    color: currentColor;
  }

  &__social {
    display: flex;
    justify-content: flex-end;
    gap: 1.7rem;

    li {
      position: relative;

      .copyText {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-1rem, -110%);
        width: 7rem;
        font-size: $text-sm;
        background-color: var(--yellow-100);
        color: var(--black-100);
        padding: 0.6rem;
        border-radius: 1rem;
        border-bottom-right-radius: 0;
        text-align: center;
        transition: all 0.2s;
        display: none;
        opacity: 0;

        &.show {
          animation: showAnim 2s ease 1;
          display: block;
        }

        @keyframes showAnim {
          from {
            opacity: 0;
          }
          80% {
            opacity: 1;
          }
          to {
            opacity: 0;
          }
        }
      }

      img {
        width: 2.5rem;
        pointer-events: none;
      }
      a {
        display: block;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &-image {
    margin: 4.8rem 0;

    @media (max-width: 768px) {
      margin: 3rem 0;
    }

    & > img {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      // border: 1px solid var(--black-100);
    }
  }

  &__content {
    font-size: $text-base;
    color: var(--text-color);

    a {
      color: var(--textAccent-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    img {
      // border: 1px solid var(--border-color);
      border-radius: 10px;
      margin-bottom: 4rem;
    }

    ul {
      list-style: disc;
      padding-left: 3rem;
      margin-bottom: 3rem;

      li {
        font-size: $step-01;
        margin-bottom: 2rem;
      }
    }

    ol {
      margin-bottom: 3rem;
      padding-left: 3rem;

      li {
        font-size: $step-01;

        &::marker {
          font-weight: bold;
        }

        @media (max-width: 768px) {
          font-size: inherit;
        }

        ol {
          margin-top: 1rem;
        }
      }
      & > li:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: currentColor;
      margin-bottom: 2rem;
    }
    p {
      font-size: $step-01;
      line-height: 1.6;
      color: currentColor;

      @media (max-width: 768px) {
        font-size: inherit;
      }

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &-related {
    background: var(--background2-color);
  }
  // related blog card
  &-related {
    .threeColWithCenteredOrphans {
      .blogCard {
        margin-bottom: 2.4rem;
      }
    }
  }
}

//  recent blog section
.recent {
  position: sticky;
  top: 10rem;

  &__head {
    margin-bottom: 3rem;
  }
  &__list {
    background-color: var(--background2-color);
    padding: 1.8rem 2.4rem;
    margin-bottom: 1.8rem;
    font-weight: 700;

    &--date {
      color: var(--grey-300);
      margin-bottom: 1.6rem;
    }
    &--heading {
      margin-bottom: 1.8rem;
    }
  }
}
// single blog ends
