.bdBanner-Section {
  background: var(--background3-color);
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    width: 22rem;
    height: 100%;
    background: var(--bluish);
    top: 0;
    left: 22rem;
    transform: skew(35deg);
    position: absolute;

    @media only screen and (max-width: 767px) {
      top: 0;
    }
  }
  .bdBanner {
    background: var(--background-color);
    border-radius: 1rem;
    min-height: 20rem;
    display: flex;
    position: relative;
    z-index: 2;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    &-left {
      width: 50%;
      padding: 7rem;
      position: relative;
      @media only screen and (max-width: 768px) {
        width: 100%;
        padding: 2rem;
      }
      @media only screen and (min-width: 769px) {
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -4px;
          width: 45.1rem;
          height: 29rem;
          background: url(../images/icons/book-a-demo-left-icon.svg);
          background-repeat: no-repeat;
          z-index: -1;
        }
      }
      &::after {
        content: "";
        width: 1px;
        height: calc(100% - 12.8rem);
        background: var(--background3-color);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      & > h3 {
        margin-bottom: 1.6rem;
      }

      & > p {
        margin-bottom: 1.6rem;
      }

      & > ul {
        li {
          margin-bottom: 0.8rem;
          display: flex;
          align-items: center;

          svg {
            width: 2rem;
            display: block;
            margin-right: 1.2rem;
          }
        }
      }
    }
    &-right {
      width: 50%;
      padding: 7rem 7rem 7rem 5.4rem;
      @media screen and (max-width: 1024px) {
        padding: 5.4rem;
      }
      @media only screen and (max-width:1024px) {
        width: 100%;
        padding: 4rem 2rem;
      }
      & > h2 {
        margin-bottom: 0rem;
      }

      & > form {
        .formRow {
          display: flex;
          justify-content: space-between;
          @media only screen and (max-width: 1024px) {
            flex-direction: column;
          }

          .formItem,.country-code{
            display: flex;
            flex-direction: column;
            width: calc(50% - 2.5rem);
            margin-bottom: 2rem;
            @media screen  and (max-width: 1300px) {
            width: calc(50% - .5rem);  
            }
            @media only screen and (max-width: 1024px) {
              width: 100%;
            }

            & > label {
              margin-bottom: 0.8rem;
              font-weight: 500;
              position: relative;

              align-self: flex-start;
            }

            &.required label {
              &::after {
                content: "*";
                position: absolute;
                top: 0;
                right: -1rem;
                width: 1rem;
                height: 1rem;
                color: var(--red-200);
              }
            }
            & > input {
              padding: 1.2rem 2.4rem;
              font-size: 1.6rem;
              border-radius: 0.4rem;
              border: 2px solid var(--background3-color);
              background: var(--background-color);
              color: var(--text-color);
              &:focus {
                outline: 2px solid var(--blue-200);
              }
            }
          }
          .country-code{
            width: 100%;
            border-radius: 4px;
            border: 2px solid var(--background3-color);
            overflow: hidden;
            flex-direction: row;
            input{
              padding: 1.2rem;
            }
            select,input{
              border: none;
              outline: none;
              border-radius: 0;
              font-size: 1.6rem;
              color: var(--text-color);

            &:focus{
                outline: none;
              }
            }
            select{
              width:40%;
              @media screen  and (max-width: 1300px) {
                width: 50%; 
                padding: 0.5rem; 
                }
                @media only screen and (max-width: 1024px) {
                  width: 30%;
                }
            }
            
          }
          &.notRequired {
            .formItem {
              & > label {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
        .formRow.formRowFull {
          .formItem {
            width: 100%;
          }
        }

        .formRow.formRowFull.submitBtn {
          margin-top: 2.8rem;
          display: flex;
          justify-content: center;
          @media only screen and (max-width: 768px) {
            margin-top: 1.8rem;
          }
          button {
            font-weight: 700;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.bdClientSection {
  .bdClients {
    // margin-top: 2.4rem;
    text-align: center;

    &--logos {
      margin-top: 1.2rem;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      @media only screen and (max-width: 640px) {
        flex-wrap: wrap;
      }
      .logoWrap {
        width: 18%;
        min-height: 8rem;
        background: var(--white);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 640px) {
          width: 50%;
        }

        img {
          width: 70%;
        }
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}