.contactSection {
  .centerSectionHeading {
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
  &--inner {
    max-width: 87.6rem;
    margin: 0 auto;
  }
  &--heading {
    @media screen and (max-width: 480px) {
      margin-bottom: 2rem;
    }
    h1 {
      span {
        color: var(--green-300);
        font-weight: normal;

        @media screen and (max-width: 768px) {
          padding-top: 1rem;
          display: block;
        }
      }
    }
    p {
      padding-top: 2rem;
      font-size: $step-01;
      color: var(--text-grey);
      @media screen and (max-width: 768px) {
        padding-top: 1.6rem;
        display: none;
      }
    }
  }
  .contactQR {
    max-width: 50rem;
    height: 50rem;
    margin: 4.8rem auto;
    border-radius: 50%;
    // background: rgba(32, 176, 56, 0.04);
    position: relative;
    @media screen and (max-width: 480px) {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 80%;
      border-radius: 50%;
      // background-color: #164e8a;
      background: rgba(#20b038, 0.4);
      transform: translate(-50%, -50%) scale(1);
      animation: pulse 3000ms cubic-bezier(0.68, 0.56, 0.52, 0.84) infinite 0s;
      z-index: -1;
    }
    @media screen and (max-width: 640px) {
      max-width: 25rem;
      max-height: 25rem;
      margin: 4rem auto;
    }
    &--level1 {
      margin: 6.9rem;
      position: absolute;
      @media screen and (max-width: 640px) {
        margin: 0;
        width: 75%;
        height: 75%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
    &--level2 {
      background: var(--white);
      border-radius: 50%;
      width: 36.3rem;
      height: 36.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
      img{
        max-width: 23.7rem;
      }
      @media screen and (max-width: 640px) {
        width: 100%;
        height: 100%;
        img {
          max-width: 10rem;
        }
      }
    }
  }
}

// Contact Address
.contactAddSection {
  .contactAddress {
    background-color: var(--background3-color);
    padding: 5rem 5vw;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      width: 18rem;
      height: 120%;
      background: var(--primaryBtn-color);
      top: 50%;
      right: 12%;
      transform: translateY(-50%) skew(33deg);
      position: absolute;
      @media screen and (max-width: 768px) {
        top: 48%;
        right: -31%;
        width: 32rem;
        transform: translateY(-48%) skew(-65deg);
      }
      @media screen and (max-width: 640px) {
        top: 50%;
        right: -35%;
        width: 18rem;
        transform: translateY(-50%) skew(-49deg);
      }
    }
    @media screen and (max-width: 640px) {
      padding: 0 5vw 4rem;
    }
    & > * {
      z-index: 1;
      position: relative;
    }
    .ctaWrap {
      padding-top: 4.8rem;
      @media screen and (max-width: 640px) {
        padding-top: 3rem;
      }
    }
    .leftRightGrid-image {
      img {
        width: auto;
        margin: 0 0 0 auto;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
    .contactAddressG {
      &-content {
        &--Details {
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: 640px) {
            flex-wrap: wrap;
          }
          & > div {
            max-width: 25rem;
            @media screen and (max-width: 1200px) {
              &:first-child {
                padding-right: 4rem;
                @media screen and (max-width: 640px) {
                  padding: 0 0rem 2rem 0;
                }
              }
            }
            @media screen and (max-width: 640px) {
              width: 100%;
            }
          }
          h2 {
            padding-bottom: 2rem;
            @media screen and (max-width: 768px) {
              font-size: $step-01;
              padding-bottom: 1.6rem;
            }
          }
          a,
          p {
            padding-bottom: 1rem;
            @media screen and (max-width: 640px) {
              padding: 0 0rem 0.2rem 0;
              font-size: $text-sm;
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(0.9);
  }
  50% {
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.3);
  }
}
