.faqs {
  // faqs search section
  &-search {
    &__head {
      h1 {
        @media (min-width: 768px) {
          font-size: $step-04;
        }
      }
    }

    &__box,
    &__head {
      max-width: 57rem;
      margin-left: auto;
      margin-right: auto;
    }

    &__box {
      margin: 4.8rem auto 0;
      position: relative;

      @media (max-width: 768px) {
        margin-top: 2rem;
      }
    }
    &__input {
      width: 100%;
      min-height: 6rem;
      padding: 2rem 7rem;
      font-family: inherit;
      font-size: inherit;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: var(--black-100);
      &:focus {
        outline-color: var(--yellow-100);
      }
    }
    &__submit {
      position: absolute;
      left: 2.2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
      border: none;
      outline: none;
      background: transparent;
    }
  }

  // faqs accordions section
  &-section {
    border-top: 1px solid var(--border-color);
  }
  &__wrapper {
    padding-top: 10rem;
    max-width: 101rem;
    margin: 0 auto;
    padding-left: 7.5rem;

    @media (max-width: 1024px) {
      padding-top: 7rem;
    }
    @media (max-width: 768px) {
      padding-top: 4rem;
      padding-left: 7rem;
    }
    @media (max-width: 600px) {
      padding-left: 6.5rem;
    }
    @media (max-width: 480px) {
      padding-left: 4rem;
    }
  }
}
