.fpScheduleADemo-section {
  .fpScheduleADemoG {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    background: var(--black-100);
    color: var(--textOnPrimaryBtn-color);
    padding: 6rem 5vw;
    grid-template-columns: 1.2fr 0.8fr;

    &::after {
      content: "";
      width: 18rem;
      height: 100%;
      background: var(--primaryBtn-color);
      top: 50%;
      right: 10%;
      transform: translateY(-50%) skew(-35deg);
      position: absolute;
      z-index: 1;
      @media only screen and (max-width: 1020px) {
        right: 0%;
        transform: translateY(-50%) skew(-54deg);
      }
      @media only screen and (max-width: 640px) {
        top: 72%;
      }
    }
  }
  .fpScheduleADemoG-content {
    align-self: center;
    @media only screen and (max-width: 640px) {
      margin-top: 0;
    }
    p {
      margin: 2rem 0 4.8rem;
    }
  }
  .fpScheduleADemoG-graphics {
    position: relative;
    z-index: 2;
    img {
      border-radius: 1rem;
      overflow: hidden;
      max-width: 42rem;
    }
  }
}

// accordians
.fpAccordion-Section {
  .fpAccordionG {
    align-items: flex-start;
    grid-template-columns: 1.26fr 1fr;
  }
}
.fpaccordion {
  border-bottom: 1px solid var(--background3-color);
  border-right: 6px solid transparent;
  &.active {
    border-right-color: var(--blue-200);
    .btn-link {
      padding-bottom: 1.6rem;
    }
  }
  &-content {
    padding: 2.4rem;
  }
  &-header {
    .btn-link {
      text-align: left;
      padding: 0;
      display: block;
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: none;
      border: none;
      outline: none;
      padding: 2.1rem 2.1rem;
      &:active,
      &:focus,
      &:link,
      &:visited {
        border: none;
        outline: none;
      }
      &:hover {
        text-decoration: none;
      }
      & > p {
        font-weight: 700;
      }
    }
  }
  .fpaccordion-body {
    padding: 0 2.4rem 0;
    overflow: hidden;
    max-height: 0;
    transition: all 0.1s;
    &.current {
      max-height: max-content;
      padding-bottom: 2.1rem;
    }
  }
  .fpaccordion-arrow {
    svg {
      transition: 0.45s ease;
      path {
        stroke: var(--text-color);
      }
    }
    &.active {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

// Features Nav

.fpFeature-nav li.active > a {
  color: var(--linkHover-color);
}
.fpFeature-nav li.active {
  border-bottom: 2px solid var(--linkHover-color);
}
.fpFeature-Section {
  padding: 0;
  // margin-bottom: 6rem;
  .fpFeature-nav {
    padding: 0;
    // position: sticky;
    top: 12.4rem;
    z-index: 5;
    background: var(--background-color);
    border-bottom: 1px solid var(--background3-color);
    @media only screen and (max-width: 1250px) {
      top: 8rem;
    }
    @media only screen and (max-width: 640px) {
      padding-left: 4vw;
      padding-right: 4vw;
    }
    a {
      text-decoration: none;
      display: block;
      transition: all 50ms ease-in-out;
    }
    ol {
      list-style: none;
      display: flex;
      justify-content: center;
      max-width: 114rem;
      margin: 0 auto;
      @media only screen and (max-width: 640px) {
        overflow: auto;
        justify-content: flex-start;
      }
      li {
        padding: 1rem 1.4rem;
        @media only screen and (max-width: 640px) {
          flex-shrink: 0;
        }
      }
    }
  }
  .fpFeature-list {
    max-width: 88.8rem;
    margin: 0 auto;
    & > section {
      padding-top: 7rem;
      margin-bottom: 0rem;
      // scroll-margin-top: 14rem;
      border-top: 1px solid var(--background3-color);
      @media only screen and (max-width: 640px) {
        padding-top: 4rem;
      }
      .fpFeature-hwrapper {
        & > p {
          margin-top: 2rem;
          max-width: 51.8rem;
          @media only screen and (max-width: 640px) {
            margin-top: 1rem;
          }
        }
      }
      .fpFeature-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 3vw;
        @media only screen and (max-width: 640px) {
          grid-template-columns: 1fr;
          gap: 0 4rem;
        }
        &--item {
          padding-top: 4.8rem;
          img {
            width: 6rem;
            height: 6rem;
            display: block;
            margin-bottom: 3rem;
            @media only screen and (max-width: 640px) {
              margin-bottom: 2rem;
            }
          }
          h4 {
            font-size: $step-01;
            margin-bottom: 1rem;
          }
        }
      }
    }
    & .d-n {
      display: none;
    }
  }
}
