.hpBanner-Section {
  padding-bottom: 1rem;

  @media only screen and (max-width: 640px) {
    padding-bottom: 0;
  }

  .hpBanner {
    .centerSectionHeading {
      @media screen and (max-width: 640px) {
        text-align: left;
      }
    }

    h1 {
      margin-bottom: 2rem;

      @media only screen and (max-width: 640px) {
        margin-bottom: 1.6rem;
      }
    }

    p {
      max-width: 57.8rem;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    a {
      margin-top: 4rem;
      margin-bottom: 1rem;

      @media only screen and (max-width: 640px) {
        margin-top: 3rem;
      }
    }

    p.accentText {
      color: var(--grey-300);
      @media only screen and (max-width: 640px) {
        text-align: left;
      }
    }

    &-image {
      display: inline-block;
      margin-top: 8rem;

      svg {
        width: 100%;
        height: auto;
      }

      @media only screen and (max-width: 640px) {
        margin-top: 3rem;
      }
    }
  }
}

.hpClients {
  text-align: center;

  h5 {
    @media only screen and (max-width: 640px) {
      max-width: 30rem;
      margin: 0 auto;
    }
  }

  &--logos {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    @media only screen and (max-width: 640px) {
      flex-wrap: wrap;
    }
    .logoWrap {
      width: 18%;
      min-height: 8rem;
      background: var(--white);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 640px) {
        width: 50%;
      }

      img {
        width: 70%;

        @media only screen and (max-width: 480px) {
          width: 75%;
        }
      }
    }
  }
}
.download-links{
  // margin-right: 20px;
  ul{
    display: flex;
    li{
      width: 50%;
      margin-top: 20px;
      a{
        margin: 0.5rem;
        img{
          width: 100%;
        }
      }
    }
  }
}
.hpHelp-Section {
  background: var(--background2-color);
  overflow: hidden;
  padding-bottom: 0;

  .hpHelp {
    position: relative;

    &-Cta {
      margin: 0 auto 7rem;
      text-align: center;

      @media (max-width: 768px) {
        margin: 0 auto 3rem 0;
      }
    }

    &-slideBtnWrap {
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 640px) {
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
      }

      button {
        border: none;
        background: none;
        font-size: $text-base;
        padding: 1.2rem 2.4rem;
        border-radius: 20rem;
        color: inherit;
        min-width: 16rem;

        @media screen and (max-width: 480px) {
          font-size: 1.4rem;
          padding: 0.8rem 1.2rem;
          margin-bottom: 0.7rem;
        }

        &:hover {
          color: var(--linkHover-color);
        }
      }

      button:not(:last-of-type) {
        margin-right: 1.2rem;

        @media screen and (max-width: 480px) {
          margin-right: 0.8rem;
        }
      }

      button.active {
        background: var(--background3-color);
        color: var(--linkHover-color);
      }
    }
    &-slideWrap {
      .slick-list {
        overflow: visible;
      }

      .hpHelp-slide {
        & > h3 {
          text-align: center;
          max-width: 70rem;
          margin: 0 auto;
          // margin-top: 4.8rem;

          @media only screen and (max-width: 480px) {
            // margin-top: 3.8rem;
          }
        }

        &--cardWrap {
          margin-top: 4.8rem;
          margin-bottom: 4.8rem;

          @media screen and (max-width: 640px) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 3rem;
            margin-bottom: 3rem;
          }

          .helpCard:nth-of-type(1) {
            & > a {
              color: var(--blue-200);

              svg path {
                fill: var(--blue-200);
              }
            }
            &::after {
              background: var(--bluish);
            }
          }
          .helpCard:nth-of-type(2) {
            a {
              color: var(--red-200);
              svg path {
                fill: var(--red-200);
              }
            }
            &::after {
              background: var(--orangish);
            }
          }
          .helpCard:nth-of-type(3) {
            a {
              color: var(--green-200);
              svg path {
                fill: var(--green-200);
              }
            }
            &::after {
              background: var(--greenish);
            }
          }
        }
        &--testimonial {
          max-width: 52rem;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 7rem;

          @media screen and (max-width: 640px) {
            margin-bottom: 3rem;
          }

          & > div > h5 {
            text-align: left;
            span {
              font-weight: normal;

              @media screen and (max-width: 640px) {
                display: block;
              }
            }
          }

          & > p {
            font-style: italic;
            margin-bottom: 2.4rem;

            @media screen and (max-width: 640px) {
              font-size: inherit;
              margin-bottom: 1.6rem;
            }
          }
          & > div {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              margin-right: 1.3rem;
            }
          }
        }

        &--features {
          padding-top: 3.5rem;
          padding-bottom: 3.5rem;
          position: relative;

          @media screen and (max-width: 640px) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
          }

          &::after {
            content: "";
            position: absolute;
            width: 150vw;
            height: 100%;
            top: 0;
            left: -50vw;
            border-top: 1px solid var(--border-color);
            background: var(--background-color);
            z-index: -1;

            @media only screen and (max-width: 640px) {
              left: -5vw;
            }
          }

          .leftRightGrid {
            padding: 3.5rem 0;
            align-items: flex-start;

            @media screen and (max-width: 767px) {
              gap: 0;
            }

            @media screen and (max-width: 640px) {
              padding: 1.5rem 0;
            }

            &.leftRightGrid-reversed {
            }

            .leftRightGrid-image {
              display: flex;
              align-items: center;
              justify-content: center;

              @media screen and (max-width: 767px) {
                margin-top: 1rem;
                width: 100%;
              }

              &.fullWidth {
                img {
                  width: 100%;
                }

                // @media (min-width: 901px) {
                //   margin-left: -3vw;
                //   width: 110%;
                // }
              }

              img {
                max-height: 50rem;
                width: auto;
                object-fit: cover;

                @media screen and (max-width: 767px) {
                  margin: 0 auto;
                }
              }
            }
            .leftRightGrid-content {
              display: flex;
              align-items: center;
              justify-content: center;

              @media screen and (max-width: 767px) {
                margin-top: 3rem;
                width: 100%;
              }

              & > div {
                display: inline-block;

                span {
                  color: var(--grey-300);
                  margin-bottom: 1rem;
                  display: block;
                  font-weight: 500;
                }
                h3 {
                  margin-bottom: 1.6rem;
                }
                p {
                  margin-bottom: 2rem;
                }

                h3,
                p {
                  @media screen and (max-width: 767px) {
                    margin-bottom: 1.6rem;
                  }
                }
                .btn--text {
                  color: var(--orange-100);
                  margin-top: 2rem;
                  font-size: $text-base;
                  font-weight: 500;

                  @media screen and (max-width: 767px) {
                    margin-top: 1.6rem;
                  }

                  img {
                    width: auto;
                    height: 10px;
                  }
                }

                .white-glove-card {
                  margin-top: 4rem;
                  background-color: var(--black-100);
                  padding: 2rem;
                  border-radius: 0.6rem;

                  @media (max-width: 768px) {
                    margin-top: 2rem;
                  }
                  svg {
                    max-width: 21.8rem;
                    height: auto;
                  }

                  p {
                    margin: 0;
                    color: var(--textOnPrimaryBtn-color);
                    padding-left: 2.5rem;
                  }
                  a {
                    color: var(--yellow-100);
                    display: inline-block;
                    margin-top: 0.8rem;
                    padding-left: 2.5rem;
                    &:hover {
                      color: var(--white);
                    }
                  }
                }

                ul {
                  li {
                    font-weight: 500;
                    display: flex;
                    align-items: flex-start;
                    svg {
                      width: 2rem;
                      height: 2rem;
                      flex: 0 0 2rem;
                      display: inline-block;
                      margin-right: 1.2rem;
                      transform: translateY(3px);

                      path {
                        fill: var(--tick-color);
                      }
                    }
                  }
                  li:not(:last-of-type) {
                    margin-bottom: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
p,a{
  &.fw-bold{
    font-weight: bold;
  }
}
.hpCrm-Section {
  overflow-x: hidden;

  // @media (max-width: 768px) {
  //   border-top: 1px solid #ebebeb;
  // }

  .hpCrm {
    &-heading {
      .centerSectionHeading {
        h2 {
          margin-bottom: 2rem;
        }
        p {
          max-width: 67rem;

          @media (max-width: 768px) {
            max-width: 100%;
          }
        }
      }
    }
    &-filterBtnWrap {
      display: flex;
      justify-content: center;
      margin: 4.8rem 0 3rem;
      position: relative;

      @media only screen and (max-width: 640px) {
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 3rem 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: 150vw;
        height: 1px;
        background: var(--border-color);
        left: -20vw;
        bottom: 1px;
        z-index: -1;
      }

      button {
        display: block;
        border: none;
        background: none;
        font-size: inherit;
        font-weight: 500;
        padding-bottom: 1.6rem;
        border-bottom: 4px solid transparent;
        white-space: nowrap;

        &:hover {
          color: var(--linkHover-color);
        }
      }
      button.active {
        font-weight: 700;
        color: var(--linkHover-color);
        border-bottom: 4px solid var(--linkHover-color);
      }
      button:not(:last-of-type) {
        margin-right: 3.5rem;
      }
    }
  }

  .hpCrm-featureGrid {
    padding-top: 2.5rem;

    &--item {
      width: 24.5%;
      padding: 2.5rem;

      @media only screen and (max-width: 1140px) {
        width: 33%;
      }

      @media only screen and (max-width: 991px) {
        width: 49.5%;
      }

      &:nth-child(odd) {
        @media screen and (max-width: 640px) {
          padding-right: 1.6rem;
        }
      }
      @media screen and (max-width: 640px) {
        padding-left: 0;
        padding-right: 0;
        padding: 0 0 3rem 0;
      }

      img {
        display: inline-block;
        margin-bottom: 0.8rem;
      }
      h5 {
        margin-bottom: 0.4rem;
      }
    }
  }

  .hpCrm-featureCta {
    text-align: center;

    @media only screen and (max-width: 640px) {
      text-align: left;
    }

    &--btnWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4rem;
      margin-bottom: 2rem;

      @media only screen and (max-width: 640px) {
        flex-direction: column;
      }
      @media only screen and (max-width: 640px) {
        margin-top: 1rem;
        align-items: flex-start;
      }

      a {
        @media only screen and (max-width: 640px) {
          display: block;
          width: auto;
        }
      }

      a:not(:last-of-type) {
        margin-right: 1.2rem;
        @media only screen and (max-width: 640px) {
          margin-right: 0;
          margin-bottom: 1.2rem;
        }
      }
    }
  }
}

.hpWorks-Section {
  padding: 0 0 4.8rem;

  @media (max-width: 640px) {
    padding: 3rem 0 3rem;
  }

  .hpWorks {
    background: var(--black-100);
    color: var(--white);
    border-radius: 2rem;

    @media (max-width: 768px) {
      gap: 0;
      padding: 0;
      align-items: flex-start;
    }

    &-content {
      padding-left: 6rem;

      @media (max-width: 768px) {
        padding: 5rem 5vw 0;
        margin-top: 0;
        width: 100%;
      }
      @media (max-width: 640px) {
        padding: 2.2rem;
      }

      & > p {
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 50rem;

        @media (max-width: 640px) {
          margin-top: 1.6rem;
          margin-bottom: 3rem;
        }
      }

      & > a {
        display: flex;
        align-items: center;
        color: var(--green-100);

        svg {
          width: 2rem;
          height: 2rem;
          display: inline-block;
          margin-left: 0.8rem;

          path {
            fill: var(--green-100);
          }
        }
      }
    }
    &-graphics {
      max-height: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      @media (max-width: 768px) {
        align-self: center;
      }
      @media only screen and (max-width: 767px) {
        max-height: unset;
        margin-top: 0;

        svg {
          width: 100%;
          padding-left: 2rem;
          padding-right: 2rem;

          @media (max-width: 640px) {
            height: auto;
          }
        }
      }
    }
  }
}

.hpGuide-Section {
  padding-top: 0;
  padding-bottom: 4.8rem;

  @media (max-width: 640px) {
    padding: 0 0 3rem;
  }

  .hpGuide {
    grid-template-columns: 1fr 2fr;
    padding: 6rem 5vw;
    background: var(--grey-light-dark);
    border-radius: 2rem;
    gap: 4rem;
    overflow: hidden;
    position: relative;

    @media (max-width: 768px) {
      align-items: flex-start;
      gap: 3rem;
      padding: 5rem 5vw;
    }

    @media (max-width: 640px) {
      padding: 2.2rem;
    }

    &::after {
      content: "";
      width: 18rem;
      height: 120%;
      background: var(--primaryBtn-color);
      top: 50%;
      left: 10rem;
      transform: translateY(-50%) skew(-35deg);
      position: absolute;

      @media only screen and (max-width: 1024px) {
        left: 0;
      }
      @media only screen and (max-width: 768px) {
        left: -10vw;
      }
      @media only screen and (max-width: 767px) {
        top: 0;
      }
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 5;

      @media (max-width: 768px) {
        margin-top: 0;
      }

      img {
        width: 80%;
        @media only screen and (max-width: 1024px) {
          width: 100%;
        }
      }
    }
    &-content {
      position: relative;
      z-index: 5;

      @media only screen and (max-width: 767px) {
        margin-top: 0;
      }

      &--heading {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--border-color);

        @media (max-width: 640px) {
          padding-bottom: 1.6rem;
          margin-bottom: 1.6rem;
        }

        p {
          margin-top: 5px;
        }
      }
      &--body {
        margin-bottom: 4rem;
        max-width: 56rem;

        @media (max-width: 640px) {
          margin-bottom: 3rem;
        }

        & > p:first-of-type {
          margin-bottom: 1.2rem;
        }
      }
      &--form {
        h4 {
          margin-bottom: 0.8rem;

          @media (max-width: 640px) {
            margin-bottom: 1.6rem;
          }
        }
        form {
          padding: 0;
          display: flex;
          border-radius: 4px;

          @media only screen and (max-width: 767px) {
            background: transparent;
          }

          @media only screen and (max-width: 767px) {
            flex-direction: column;
          }

          & > * {
            border-radius: 4px;
          }

          & > input {
            width: 80%;
            border: none;
            display: block;
            background: var(--background-color);
            color: inherit;
            padding: 2rem;
            margin-right: 1.5rem;

            @media only screen and (max-width: 900px) {
              width: auto;
              flex-grow: 1;
            }
            @media only screen and (max-width: 767px) {
              margin-right: 0;
              width: 100%;
            }

            &:focus {
              outline: none;
            }
          }
          & > button {
            color: inherit;
            border: none;
            display: block;
            padding: 2rem 1rem;
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s;
            background: var(--background-color);
            flex-grow: 1;

            @media only screen and (max-width: 767px) {
              width: 100%;
              border-left: 2px solid transparent;
              border-top: 2px solid var(--grey-100);
            }

            @media (max-width: 640px) {
              background: var(--black-100);
              color: var(--white);
              margin-top: 0.8rem;
              max-width: 15.8rem;
              border-radius: 4px;
            }

            &:hover {
              background: var(--primaryBtn-color);
              color: var(--textOnTertiaryBtn-color);
            }
          }
        }
      }
    }
  }
}

.hpWhiteG-Section {
  padding-top: 0;
  .hpWhiteG {
    background: var(--black-100);
    color: var(--white);
    border-radius: 2rem;
    padding: 6rem 5vw;

    @media (min-width: 641px) and (max-width: 768px) {
      padding: 5rem 5vw;
    }

    @media only screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 640px) {
      padding: 2.2rem;
    }

    &-content {
      align-self: flex-start;

      @media only screen and (max-width: 767px) {
        margin-top: 0;
      }

      & > svg {
        display: block;
        margin-bottom: 2.4rem;

        @media only screen and (max-width: 640px) {
          margin-bottom: 1.6rem;
        }
        @media only screen and (max-width: 640px) {
          max-width: 27rem;
        }
      }
      & > h2 {
        margin-bottom: 2rem;

        @media only screen and (max-width: 640px) {
          margin-bottom: 1.6rem;
        }
      }

      & > p {
        margin-bottom: 2rem;
      }

      & > ul {
        margin-bottom: 5rem;

        @media only screen and (max-width: 640px) {
          margin-bottom: 3rem;
        }

        li {
          display: flex;
          align-items: flex-start;

          .time {
            color: var(--yellow-100);
            margin-left: 0.5rem;
          }

          svg {
            width: 2rem;
            height: 2rem;
            display: inline-block;
            margin-right: 0.8rem;
            transform: translateY(2px);

            path {
              fill: var(--yellow-100);
            }
          }
        }
        li:not(:last-of-type) {
          margin-bottom: 1rem;
        }
      }

      & > .ctaWrap {
        a:not(:last-of-type) {
          display: inline-block;
          margin-right: 4rem;
        }

        a:nth-of-type(2):hover {
          color: var(--yellow-100);
        }
      }
    }
    &-graphics {
      @media only screen and (max-width: 767px) {
        margin-top: 0;
      }
    }
  }
}

.newsletter-Section {
  padding-top: 0;

  .newsletter {
    @media (max-width: 768px) {
      gap: 0;
      flex-direction: column-reverse;
    }

    &-content {
      @media (max-width: 768px) {
        margin-top: 3rem;
      }

      h4 {
        margin-bottom: 1.4rem;
      }

      p {
        margin-bottom: 3.5rem;
        max-width: 50rem;
      }

      &--form {
        form {
          padding: 0;
          display: flex;
          justify-content: space-between;
          border-radius: 4px;
          background: var(--background-color);

          @media only screen and (max-width: 767px) {
            flex-direction: column;
          }

          & > input {
            width: calc(70% - 0.8rem);
            border: 2px solid var(--background3-color);
            display: block;
            background: var(--background-color);
            color: inherit;
            padding: 2rem;
            border-radius: 4px;
            @media only screen and (max-width: 767px) {
              width: 100%;
              margin-bottom: 1.2rem;
            }

            &:focus {
              outline: none;
            }
          }
          & > button {
            color: inherit;
            border: none;
            display: block;
            padding: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 4px;

            background: var(--background3-color);
            width: calc(30% - 0.8rem);
            @media only screen and (max-width: 767px) {
              width: 100%;
            }
          }
        }
      }
    }
    &-graphic {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        margin-top: 3rem;
      }

      svg {
        max-width: 100%;
        display: block;

        @media (max-width: 768px) {
          height: auto;
        }
      }
    }
  }
}
