.hiwBanner-section {
  .hiwBannerG {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    background: var(--black-100);
    color: var(--textOnPrimaryBtn-color);
    padding: 0 0 0 5vw;
    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }
  .hiwBannerG-content {
    align-self: center;
    @media only screen and (max-width: 1024px) {
      padding: 4rem 0;
    }
    @media only screen and (max-width: 768px) {
      margin: 0;
      padding: 4rem 4rem 0;
    }
    @media only screen and (max-width: 640px) {
      padding: 2.2rem 2.2rem 0;
    }
    p {
      margin: 2rem 0 4.8rem;
      @media only screen and (max-width: 768px) {
        margin-bottom: 0;
      }
      @media only screen and (max-width: 640px) {
        margin-top: 1.6rem;
      }
    }
  }
  .hiwBannerG-graphics {
    @media only screen and (max-width: 1024px) {
      height: 100%;
      img {
        height: 100%;
      }
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.hiwSteps {
  &-section {
    .hiwStepsG {
      padding: 7rem 7vw 5rem;
      @media only screen and (max-width: 1024px) {
        padding: 6rem 2vw 4rem;
      }
      @media only screen and (max-width: 640px) {
        padding: 2rem 1.1rem 3rem;
      }
      &-graphics {
        width: auto;
        margin: 0 auto;
        @media only screen and (max-width: 1024px) {
          height: 100%;
          @media only screen and (max-width: 768px) {
            width: 100%;
            padding-top: 1rem;
          }
          img {
            height: 100%;
          }
        }
      }
      &-content {
        max-width: 53rem;
        padding: 0rem 0 0 4rem;
        @media only screen and (max-width: 768px) {
          padding: 0;
          margin-top: 0;
        }
        &__firstTitle {
          color: #b3b3b2;
          @media only screen and (max-width: 640px) {
            font-size: $step-01;
          }
        }
        &__secondTitle {
          padding-top: 2rem;
          @media only screen and (max-width: 640px) {
            padding-top: 1rem;
            font-size: $step-01;
          }
        }
        p {
          padding-top: 2rem;
          @media only screen and (max-width: 640px) {
            padding-top: 1.3rem;
            font-size: $text-sm;
          }
        }
        a.btn--text {
          font-size: 1.6rem;
          font-weight: 500;
          color: var(--textAccent-color);
          align-items: baseline;
          padding-top: 2rem;
          justify-content: space-evenly;
          display:inline;
          @media only screen and (max-width: 640px) {
            padding-top: 1.6rem;
          }
          img {
            width: auto;
            height: 1.6rem;
            position: relative;
            top: 0.35rem;
          }
        }
      }
    }
    .hiwStepsInner {
      position: relative;
      margin-top: 4.3rem;
      @media only screen and (max-width: 768px) {
        &:nth-child(odd) {
          .hiwStepsG {
            flex-direction: column-reverse;
          }
        }
      }
      @media only screen and (max-width: 640px) {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 1rem;
        background: var(--gradient-yellow);
        height: 80%;
        width: 100%;
        z-index: -1;
        @media only screen and (max-width: 640px) {
          height: 90%;
        }
      }
      &:nth-child(2) {
        &::before {
          background: var(--gradient-red);
        }
      }
      &:nth-child(3) {
        &::before {
          background: var(--gradient-orange);
        }
      }
      &:nth-child(4) {
        &::before {
          background: var(--gradient-purple);
        }
      }
      &:nth-child(5) {
        &::before {
          background: var(--gradient-blue);
        }
      }
      &:nth-child(6) {
        &::before {
          background: var(--gradient-greenish);
        }
      }
      &:nth-child(7) {
        &::before {
          background: var(--gradient-green);
        }
      }
      &:nth-child(8) {
        &::before {
          background: var(--gradient-grey);
        }
      }
    }
    .hiwSteps {
      &.threeColWithCenteredOrphans {
        padding: 0rem 7vw 0;
        @media only screen and (max-width: 1024px) {
          padding: 0;
        }
      }
    }
    .hiwSteps__item{
      background: var(--background-box);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      padding: 7rem 4.7rem;
      text-align: center;
      max-width: 35rem;
      @media only screen and (max-width: 1024px) {
        max-width: 29rem;
        padding: 4rem 2em;
      }
      @media (max-width: 768px) {
        max-width: 100%;
      }
      h5 {
        font-size: $step-01;
      }
      img {
        margin: 0 auto 2rem;
      }
      p {
        padding-top: 1rem;
      }
      a{
        display: inline;
        color: var(--textAccent-color);
      }
    }
    .fourColWithCenteredOrphans {
      &.hiwSteps {
        padding: 0 1vw;
      }
      .hiwSteps__item{
        padding: 7rem 2rem;
        max-width: 30.4rem;
        @media only screen and (max-width: 1024px) {
          padding: 4rem 2em;
          max-width: 28rem;
        }
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }
}
