.hpBanner-Section.fpBannerSection {
  border-bottom: 1px solid var(--grey-100);
  padding-bottom: 5rem;

  .tertiaryBtn {
    margin-top: 0;
  }
}

.fpFeature-nav li.active > a {
  color: var(--linkHover-color);
  //font-weight: 500;
}
.fpFeature-nav li.active {
  background: var(--background3-color);
  @media only screen and (max-width: 1024px) {
    background: transparent;
  }
}
.fpFeature-Section {
  padding: 0;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 30rem 1fr;
  gap: 2.5vw;
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  @media only screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  .fpFeature-nav {
    padding: 0;
    padding-top: 5.2rem;
    position: sticky;
    top: 10rem;
    align-self: start;
    z-index: 5;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    border-radius: 2rem;
    background: var(--background2-color);

    @media only screen and (max-width: 1024px) {
      position: relative;
      top: 0;
      padding: 5vw;
    }
    a {
      text-decoration: none;
      display: block;
      padding: 0.125rem 0;
      transition: all 50ms ease-in-out;
    }
    a:hover,
    a:focus {
      color: var(--linkHover-color);
    }
    h4 {
      font-size: $step-01;
      margin-bottom: 3.2rem;
      @media only screen and (max-width: 640px) {
        margin-bottom: 1.6rem;
      }
    }
    ol {
      list-style: none;

      li {
        padding: 1.2rem 2.4rem;
        border-radius: 20rem;

        @media only screen and (max-width: 640px) {
          padding: 0.8rem 2.4rem;
          padding-left: 0;
          font-weight: 500;
        }
      }

      li:not(:last-of-type) {
        margin-bottom: 1.2rem;
      }
    }
  }
  .fpFeature-list {
    margin-top: -10rem;

    @media only screen and (max-width: 1024px) {
      padding: 5vw;
    }
    & > section {
      padding-top: 10rem;
      margin-bottom: 6rem;

      @media only screen and (max-width: 640px) {
        margin-bottom: 0;
      }
      h2 {
        margin-bottom: 3.6rem;
      }
      .fpFeature-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5vw;

        @media only screen and (max-width: 640px) {
          grid-template-columns: 1fr;
          gap: 4rem;
        }
        &--item {
          img {
            width: 6rem;
            height: 6rem;
            display: block;
            margin-bottom: 4rem;
          }

          h4 {
            margin-bottom: 2.4rem;
          }
          p {
            font-size: $step-01;
          }
        }
      }
    }
  }
}

.hpBanner-Section.wpBannerSection {
  border-bottom: 1px solid var(--grey-100);
  padding-bottom: 2rem;

  .scrollText {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    color: var(--linkHover-color);
    font-weight: 500;
    svg {
      width: 1.2rem;
      height: 1.2rem;
      display: inline-block;
      margin-left: 0.8rem;
    }
  }
}

.wpWork-Section {
  $colors: #f7ec00, #3ba6dd, #d42c70, #f26a21, #009155, #d42c39;
  $repeat: 36;

  .wpWork {
    @media only screen and (max-width: 1024px) {
      padding-left: 2rem;
    }
    .leftRightGrid {
      position: relative;
      margin-bottom: 8rem;
      @media only screen and (max-width: 768px) {
        padding-left: 2rem;
        margin-bottom: 4rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background: var(--grey-100);
        top: 45%;
        left: -6rem;

        @media only screen and (max-width: 768px) {
          left: -4rem;
          top: 10rem;
        }
        @media only screen and (max-width: 640px) {
          left: -0.6rem;
          top: 4rem;
        }
      }

      &-content {
        @media only screen and (max-width: 640px) {
          margin-top: 0;
        }
      }

      & > div {
        h3 {
          margin-bottom: 1.2rem;
          position: relative;
          font-size: $step-02;
          &::after {
            content: attr(data-step);
            position: absolute;
            width: 4.4rem;
            height: 4.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $step-02;
            color: var(--background-color);
            border-radius: 50%;
            top: 0.4rem;
            left: -8rem;
            @media only screen and (max-width: 640px) {
              width: 2.8rem;
              height: 2.8rem;
              font-size: 1.4rem;
              left: -4rem;
            }
          }
        }
      }
    }

    .leftRightGrid:nth-last-of-type(1)::after {
      display: none;
    }
    @for $i from 1 through $repeat {
      .leftRightGrid:nth-child(#{length($colors)}n + #{$i}) {
        h3::after {
          background: lighten(nth($colors, random(length($colors))), 20%);
        }
      }
    }
  }
}
