.hpBanner-Section.ppBanner-Section {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 30rem;
    height: 50rem;
    top: 0;
    right: 0;
    background: url(../images/icons/pricing-banner-1.svg);
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen and (max-width: 991px) {
      width: 20rem;
      height: 35rem;
    }
    @media only screen and (max-width: 640px) {
      opacity: 0.5;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 30rem;
    height: 50rem;
    top: 0;
    left: 0;
    background: url(../images/icons/pricing-banner-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    @media only screen and (max-width: 991px) {
      width: 20rem;
      height: 35rem;
    }
    @media only screen and (max-width: 640px) {
      opacity: 0.5;
    }
  }

  .hpBanner .centerSectionHeading {
    & > * {
      position: relative;
      z-index: 2;
    }
  }
}

.ppPlans-Section {
  padding-top: 0;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
  .ppPlans {
    .ppPlans-btnWrap {
      text-align: center;
      margin-bottom: 14rem;
      position: relative;

      & > h3 {
        margin-bottom: 2.4rem;
      }
      & > div {
        // position: sticky;
        // top: 10rem;
        // left: 0;
        a {
          display: inline-block;
          padding: 1.2rem 2.4rem;
          border-radius: 20rem;
          background: var(--background3-color);

          &:hover {
            color: var(--linkHover-color);
          }
        }

        a:not(:last-of-type) {
          margin-right: 1.2rem;
        }
      }
    }
    &-plansWrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto auto 5rem;
      .ppPlans-outerGrid {
        display: grid;
        grid-template-columns: 1fr;

        .ppPlans-rows {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          gap: 2rem;

          .ppPlans-rows--colms {
            text-align: center;
            padding: 0.8rem;
            border-left: 1px solid var(--background3-color);
            border-right: 1px solid var(--background3-color);
            border-top: 1px solid var(--background3-color);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
        }
        .featureRow:nth-of-type(2n + 1) {
          .ppPlans-rows--colms {
            background: var(--background3-color);
            border-left: 1px solid var(--background-color);
            border-right: 1px solid var(--background-color);
          }
        }
        .plansHeading {
          .ppPlans-rows--colms {
            padding: 2.4rem;
            img {
              width: 8rem;
              height: 8rem;
            }

            h4 {
              margin-top: 2rem;
              margin-bottom: 2rem;
            }
          }
        }

        .plansPricing {
          .ppPlans-rows--colms {
            padding: 2.8rem;

            & > p {
              max-width: 25rem;
              font-weight: 500;
              color: var(--grey-300);
              font-size: $step-01;
            }

            & > span {
              color: var(--grey-300);
              display: block;
              margin-top: 2.8rem;
              font-style: italic;
            }
          }

          .ppPlans-rows--colms:nth-of-type(1) {
            & > p {
              color: var(--text-color);
              font-size: $text-base;
            }

            & > h5 {
              font-size: $step-01;
            }
          }
          .ppPlans-rows--colms:nth-of-type(2) {
            & > h3 {
              color: var(--blue-200);
            }
          }
          .ppPlans-rows--colms:nth-of-type(3) {
            & > h3 {
              color: var(--orange-200);
            }
          }
          .ppPlans-rows--colms:nth-of-type(4) {
            & > h3 {
              color: var(--green-200);
            }
          }
        }
        .plansFeaturesHeading {
          .ppPlans-rows--colms {
            padding-top: 4rem;
          }
        }

        .plansFeatures {
          .ppPlans-rows--colms {
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
            h5 {
              padding: 0.8rem;
              font-weight: 400;
              align-self: stretch;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;

              svg {
                width: 2.4rem;
                height: 2.4rem;
                display: block;
                margin-right: 1.2rem;
              }
            }

            h5:nth-of-type(2n + 1) {
              background: var(--background3-color);
            }
          }
        }
      }
    }
  }
}

.ppPlansMobileSection {
  display: none;
  @media only screen and (max-width: 1024px) {
    display: block;
  }
  & > h3 {
    margin-bottom: 2rem;
  }
  .ppPlansMobile {
    & > div {
      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.2rem;
        background: none;
        border: 2px solid var(--background3-color);

        & > h3 {
          font-size: $step-01;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          & > img {
            width: 3.6rem;
            margin-right: 1.2rem;
            display: block;
          }
        }

        & > p {
          display: flex;
          align-items: center;

          svg {
            display: block;
            margin-right: 1.2rem;
          }
        }
      }

      button.active + .ppPlansMobile-wrap {
        height: 100%;
        max-height: 200rem;
        padding: 2rem;
      }
    }
    .ppPlansMobile-plan {
      .ppPlansMobile-wrap {
        padding: 2rem;
        transition: max-height 300ms ease-in;
        height: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;

        & > h4 {
          font-size: $step-01;
          font-weight: 400;
        }

        & > h5 {
          margin-bottom: 2rem;
          em {
            color: var(--grey-300);
            display: block;
            margin-top: 0.8rem;
          }
        }
        & > p {
          font-size: $step-01;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.8rem;

          & > span {
            font-weight: 700;
          }
        }
        & > p:nth-of-type(2n + 1) {
          background: var(--background3-color);
        }

        & > ul {
          margin-top: 2rem;
          font-size: 1.8rem;
          border: 1px solid var(--background3-color);

          & > span {
            display: block;
            font-weight: 700;
            padding-top: 2.8rem;
            padding-bottom: 1.6rem;
            padding-left: 0.8rem;
          }

          & > li {
            padding: 1.2rem 0.8rem;
          }
          & > li:nth-of-type(2n + 1) {
            background: var(--background3-color);
          }
        }
      }
    }
  }
}

.ppAvailPaySection {
  padding-top: 0;
  .ppAvailPay {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }
    & > h3 {
      width: calc(35% - 5vw);
      @media only screen and (max-width: 991px) {
        width: 100%;
      }
    }
    &-logos {
      width: calc(65% - 5vw);
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 991px) {
        width: 100%;
        margin-top: 4rem;

        img {
          margin-right: 2rem;
        }
      }
    }
  }
}

.ppEnterpriseSection {
  padding-top: 0;
  .ppEnterprise {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    &-large,
    &-govt {
      position: relative;
      width: calc(50% - 2.4rem);
      background: var(--black-100);
      color: var(--white);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4rem;
      border-radius: 1rem;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16rem;
        height: 22rem;
        background: url(../images/icons/entCard-bg.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }

      & > * {
        position: relative;
        z-index: 5;
      }

      img {
        width: 15rem;
        height: 15rem;
        display: inline-block;
        margin-bottom: 4rem;
      }
      h3 {
        margin-bottom: 2.4rem;
        text-transform: uppercase;
        max-width: 38rem;
        text-align: center;
      }

      p {
        margin-bottom: 2.4rem;
        text-align: center;
        max-width: 35rem;
      }

      p:nth-of-type(2) {
        color: var(--yellow-100);
      }
    }
    &-govt {
      width: calc(50% - 2.4rem);
      @media only screen and (max-width: 768px) {
        margin-top: 4rem;
        width: 100%;
      }
    }
  }
}

.ppTestSection {
  .ppTest {
    position: relative;
    .ppTestSlide {
      position: relative;
      &-btnPrev,
      &-btnNext {
        position: absolute;
        top: 50%;
        background-color: var(--black-100);
        padding: 1.2rem;
        border: none;
        transform: translateY(-50%);
        z-index: 1;

        @media (max-width: 768px) {
          border-radius: 10px;
        }

        svg {
          width: 1.6rem;
          height: 1.6rem;
          display: block;
        }
      }
      &-btnPrev {
        left: 0;

        @media (max-width: 768px) {
          left: 0%;
          top: unset;
          bottom: -20px;
        }
      }
      &-btnNext {
        right: 0;

        @media (max-width: 768px) {
          right: 0%;
          top: unset;
          bottom: -20px;
        }
      }
      &-slider {
        max-width: 99rem;
        margin: 0 auto;
        padding: 12rem 0;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        @media (max-width: 768px) {
          padding: 8rem 2rem;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 30rem;
          height: 100%;
          background: url(../images/icons/test-left.svg);
          background-repeat: no-repeat;
          z-index: -1;

          @media only screen and (max-width: 640px) {
            opacity: 0.3;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 30rem;
          height: 100%;
          background: url(../images/icons/test-right.svg);
          background-repeat: no-repeat;
          background-position: right bottom;
          z-index: -1;

          @media only screen and (max-width: 640px) {
            opacity: 0.5;
          }
        }

        &--item {
          position: relative;

          & > * {
            max-width: 50rem;
            text-align: center;
            margin: 0 auto;
          }

          & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 4rem;
            img {
              display: block;
              margin-right: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.ppBrochureSection {
  .ppBrochure {
    background-color: var(--background2-color);
    padding: 5rem 5vw;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      width: 18rem;
      height: 120%;
      background: var(--primaryBtn-color);
      top: 50%;
      right: 0;
      transform: translateY(-50%) skew(-35deg);
      position: absolute;

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    & > * {
      z-index: 1;
      position: relative;
    }

    h5 {
      margin-bottom: 0.8rem;
    }
    p {
      margin-bottom: 3.6rem;
      max-width: 50rem;
    }

    & > div {
      form {
        display: flex;
        justify-content: space-between;
        max-width: 70rem;
        @media only screen and (max-width: 767px) {
          flex-direction: column;
        }
        & > input {
          width: calc(70% - 0.8rem);
          border: 2px solid var(--background3-color);
          display: block;
          background: var(--background-color);
          color: inherit;
          padding: 2rem;
          border-radius: 4px;

          @media only screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 1.2rem;
          }

          &:focus {
            outline: none;
          }
        }
        & > button {
          color: inherit;
          border: none;
          display: block;
          padding: 2rem;
          text-transform: uppercase;
          font-weight: 700;
          border-radius: 4px;

          background: var(--background3-color);
          width: calc(30% - 0.8rem);
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }
}
