.on-board-bg {
    background-color: #f0f0f0;
}
.txt-g{
    color: #656565;
}
.txt-75{
    width: 75%;
    margin: auto;
    padding-top: 15px;
}
.fs-16{
    font-size: 16px;
}
.onboard-box {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #F9F9F9;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    @media screen and (max-width:1024px) {
        width: 80%;
        padding: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    @media screen and (max-width:700px) {
        width: 100%;
        padding: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    @media screen and (min-width:700px) and (max-width:900px) {
        width: 90%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .logo-onboard {
        width: 35%;
        margin: auto;
        margin-bottom: 20px;
        img{
            width: 100%;
        }
        @media screen and (max-width:700px){
            width: 70%;
        }
    }

    .text-center {
        text-align: center;
    }

    .fs-32 {
        font-size: 32px;
        @media screen and (max-width:700px){
            font-size: 24px;
        }
    }

    .fw-600 {
        font-weight: 600;
    }

    .txt-1 {
        color: #1D3142;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

    .onboard_form {
        padding-top: 50px;
        @media screen and (max-width:700px){
            padding-top: 30px;
        }

        .grid-onboard {
            display: grid;
            grid-template-columns: 48% 48%;
            gap: 20px 26px;
            @media screen and (max-width:700px){
                grid-template-columns: 100%;
            }
            @media screen and (min-width:700px) and (max-width:900px) {
                gap: 20px 23px;
            }
        }

        input:not([type=submit]),
        select,
        textarea,.select2-selection__rendered {
            width: 100%;
            padding: 1.4rem 2rem;
            background: #FFFFFF;
            border: 1px solid rgba(29, 49, 66, 0.2);
            border-radius: 4px;
            outline: 0;
            margin-top: 5px;
        }

        ::placeholder {
            color: #1D314280;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: #1D314280;
        }

        ::-ms-input-placeholder {
            color: #1D314280;
        }

        label {
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            text-transform: capitalize;

            color: #1D3142;

            span {
                color: #D42C39;
            }
        }

        .check-OB {
            margin-top: 20px;
            display: flex;
            align-items: center;

            input:not([type=submit]),
            select,
            textarea {
                width: auto !important;
                margin: 0px;
                margin-right: 8px;
            }

            label {
                font-weight: 400;
                font-size: 12px;
                line-height: 13px;
                align-items: center;
                color: #999999;

                span {
                    color: #F26A21;
                }
            }
        }

        .onboard-FT {
            margin-top: 20px;
        }

        .onboard-btn {
            border: none;
            display: flex;
            padding: 1.2rem 3.2rem;
            border-radius: 0.4rem;
            transition: all 250ms ease-in;
            font-weight: 500;
            background-image: linear-gradient(268.23deg, #F4CA17 1.06%, #F7EC00 88.44%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
            font-weight: 600;
            margin: 40px auto;

            &:hover {
                background-image: linear-gradient(76.1deg, #f7ec00 9.31%, #f4ca17 91.94%);
                transition: 2s ease-in;
            }
        }

        .terms-onboard {
            background: #FFFFFF;
            border: 1px solid #999999;
            border-radius: 10px;
            padding: 30px;
            height: 500px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background: #F0F4F5;
            }
            &::-webkit-scrollbar-thumb {
                background: #F7EC00;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #e3d815;
            }
        }

        .terms-onboard {
            
            h3 {
                font-size: 20px;
                font-weight: 600;
                line-height: 124.2%;
                color: #1D3142;
                padding-bottom: 15px;
                padding-top: 25px;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #1D3142;
                padding-bottom: 10px;
            }
            ol,ul{
                padding-left: 15px;
                li {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 21px;
                    color: #1D3142;
                    list-style-type: disc;
                    padding-bottom: 10px;
                }
            }
        }
    }
    .onboard-foot {
        border-top: 1px solid #E5E5E5;
        padding: 20px 0px;

        p {
            font-weight: 400;
            font-size: 14px;
            align-items: center;
            text-align: center;
            color: #4F4F4F;
        }

        a {
            color: #009155;
        }
    }

    .foot-url {
        display: flex;
        justify-content: center;
        font-size: 14px;

        a {
            color: #009155;
            margin: 0px 10px;
        }
    }
}
.sign-sec{
    p{
        font-size: 14px !important;
        padding-bottom: 0px !important;
        &.txt-g{
            color: rgb(164, 164, 164) !important;
            padding-top: 15px;
            padding-bottom: 10px !important;
        }
    }
}
.table-A {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  
  .w-35{
    width: 35%;
  }
  .w-20{
    width: 20%;
  }
  .w-40{
    width: 40%;
  }
  tr{
    vertical-align: initial;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    .txt-green{
        color: greenyellow !important;
    }
    h3{
        font-size: 14px !important;
        padding: 0px !important;
    }
    p{
        font-size: 12px !important;
        color: rgb(164, 164, 164) !important;
        padding-bottom: 0px !important;
    }
    ul,ol{
        li{
            font-size: 12px !important;
            padding-bottom: 0px !important;
        }
    }
  }
}
small{
    font-size: 12px !important;
    color: rgb(164, 164, 164);
}
.onboarding-mobile{
    display: flex;
    select{
        width: 28% !important;
        padding: 2% !important;
        border-top-right-radius: 0!important;
        border-bottom-right-radius: 0 !important;
    }
    input{
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0 !important;
        border-left: none !important;

    }
}

.country-code{
    position: relative;
background: #fff;
    select {
        -webkit-appearance: none;
          text-align: center!important;
          text-align-last: center!important;
          padding-left: 0.1rem !important;
          z-index: 111;
          background: transparent !important;
          cursor: pointer;
    }
}
.country-code{
   
  .select2-selection__arrow {
    left: 15%;
    top: 55% !important;;
  } 
}
