// banner
.hpBanner-Section.ppBanner-Section {
  position: relative;
  padding: 15rem 0;
  background-color: var(--background-navy);

  @media (max-width: 769px) {
    padding: 7rem 0;
  }

  .hpBanner .centerSectionHeading {
    h1 {
      max-width: 80rem;
    }
    p {
      max-width: 58rem;
    }
    & > * {
      position: relative;
      z-index: 2;
      color: var(--white);
    }
  }
}

// desktop plans
.ppPlans-Section {
  padding-top: 0;
  overflow: visible;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-navy);
    height: 10%;
    width: 100vw;
    z-index: -1;
  }

  @media only screen and (max-width: 1023px) {
    display: none;
  }

  .plansNPrice {
    color: var(--text-offgrey);
    margin-top: 1rem;

    p {
      margin-top: 1rem;
      font-weight: 600;

      span {
        font-weight: normal;
        display: block;
      }
    }
  }
  .ppPlans {
    .ppPlans-btnWrap {
      text-align: center;
      margin-bottom: 14rem;
      position: relative;

      & > h3 {
        margin-bottom: 2.4rem;
      }
      & > div {
        a {
          display: inline-block;
          padding: 1.2rem 2.4rem;
          border-radius: 20rem;
          background: var(--background3-color);

          &:hover {
            color: var(--linkHover-color);
          }
        }

        a:not(:last-of-type) {
          margin-right: 1.2rem;
        }
      }
    }
    &-plansWrap {
      width: 100%;
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin: auto auto 4.8rem;

      .ppPlans-outerGrid {
        background: var(--background-box);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        flex: 0 0 32%;
        padding: 4.5rem 0;
        position: relative;

        &--Tag {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        & > .plansTag {
          width: 100%;
          font-size: $step-01;
          font-weight: 700;
          color: var(--textOnPrimaryBtn-color);
          text-align: center;
          padding: 1.2rem;
          position: absolute;
          top: 0;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          margin-bottom: 4.5rem;
          margin-top: -4.5rem;
        }
        & > .planName {
          background-color: var(--background3-color);
          font-size: $step-01;
          font-weight: 700;
          text-align: center;
          padding: 1.2rem;
          margin-top: 4rem;
        }

        & > .planCta {
          text-align: center;
          margin-top: 4rem;
        }

        .ppPlans-rows--colms > h3 {
          span {
            font-size: 2rem;
          }
        }

        &:nth-of-type(1) > .plansTag {
          background: var(--bluish);
        }
        &:nth-of-type(2) > .plansTag {
          background: var(--orangish);
        }
        &:nth-of-type(3) > .plansTag {
          background: var(--greenish);
        }

        &:nth-of-type(1) .ppPlans-rows--colms {
          & > h3 {
            color: var(--blue-200);
          }
        }

        &:nth-of-type(2) .ppPlans-rows--colms {
          & > h3 {
            color: var(--orange-200);
          }
        }
        &:nth-of-type(3) .ppPlans-rows--colms {
          & > h3 {
            color: var(--green-200);
          }
        }

        .ppPlans-rows {
          .ppPlans-rows--colms {
            text-align: center;
            padding: 0.8rem;
            min-height: 4.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
        }

        .ppPlans-rows.featureRow {
          .ppPlans-rows--colms {
            max-width: 22rem;
            text-align: left;
            padding: 0.8rem;
            min-height: 4.2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            color: var(--text-offgrey);
            margin: 0 auto;

            svg {
              width: 2.4rem;
              margin-right: 1rem;
            }
          }
        }

        .plansHeading {
          .ppPlans-rows--colms {
            padding: 0 3rem 3rem;
            height: 100%;
            border-bottom: 1px solid var(--border-color);

            img {
              width: 9rem;
              height: 9rem;
            }

            h4 {
              margin-top: 1.6rem;
              margin-bottom: 1.6rem;
            }
          }
        }

        .plansPricing {
          .ppPlans-rows--colms {
            padding: 3rem;
            border-bottom: 1px solid var(--border-color);

            & > p {
              max-width: 25rem;
              font-weight: 700;
              color: var(--text-offgrey);
              font-size: $step-01;
              margin-bottom: 1rem;
            }

            & > span {
              color: var(--text-offgrey);
              display: block;
              margin-top: 1rem;
              font-style: italic;
            }
          }

          .ppPlans-rows--colms:nth-of-type(1) {
            & > h5 {
              font-size: $step-01;
            }

            & > p {
              color: var(--text-color);
              font-size: $text-base;
            }
          }
        }
        .plansFeaturesHeading {
          .ppPlans-rows--colms {
            padding-top: 4rem;
            height: 100%;
          }
        }

        .plansFeatures {
          border-bottom: 1px solid var(--border-color);
          margin-bottom: 4rem;

          .ppPlans-rows--colms {
            padding-top: 3rem;
            padding-bottom: 3rem;
            max-width: 25rem;
            margin: 0 auto;

            h5 {
              padding: 0.8rem;
              font-weight: 400;
              align-self: stretch;
              display: flex;
              align-items: center;
              color: var(--text-color);

              svg {
                width: 2.4rem;
                height: 2.4rem;
                display: block;
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

// mobile plans
.ppPlansMobileSection {
  display: none;

  @media only screen and (max-width: 1023px) {
    display: block;
  }
  & .container > h3 {
    margin-bottom: 2rem;
  }
  .ppPlansMobile {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    & > div {
      &:nth-child(1) button > p {
        color: var(--blue-200);
      }
      &:nth-child(2) button > p {
        color: var(--orange-200);
      }
      &:nth-child(3) button > p {
        color: var(--green-200);
      }
      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.2rem;
        background: none;
        border: 2px solid var(--background3-color);

        & > h3 {
          font-size: $step-01;
          display: flex;
          align-items: center;
          text-transform: uppercase;

          @media (max-width: 350px) {
            font-size: $text-base;
          }

          & > img {
            width: 4.5rem;
            margin-right: 1rem;
            display: block;

            @media (max-width: 360px) {
              width: 4rem;
            }
          }
        }

        & > p {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: $step-01;

          @media (max-width: 480px) {
            font-size: $text-base;
          }

          svg {
            display: block;
            margin-right: 1.2rem;
          }
        }
      }

      button.active + .ppPlansMobile-wrap {
        height: 100%;
        max-height: 200rem;
        padding: 2rem;
      }
    }
    .ppPlansMobile-plan {
      .ppPlansMobile-wrap {
        padding: 2rem;
        transition: max-height 300ms ease-in;
        height: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;

        & > h4 {
          font-size: $step-01;
          font-weight: 400;

          @media (max-width: 480px) {
            font-size: $text-base;
          }
        }

        & > h5 {
          margin-bottom: 2rem;
          em {
            color: var(--text-offgrey);
            display: block;
            margin-top: 0.8rem;
          }
        }
        & > p {
          font-size: $text-base;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.8rem;
          border-left: 1px solid var(--background3-color);
          border-right: 1px solid var(--background3-color);

          & > span {
            font-weight: 700;
            color: var(--black-100);
          }
        }
        & > p:nth-of-type(2n + 1) {
          background: var(--background3-color);
        }

        & > ul {
          margin-top: 2rem;
          font-size: $text-base;
          border: 1px solid var(--background3-color);

          & > span {
            display: block;
            font-weight: 700;
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            padding-left: 0.8rem;
          }

          & > li {
            padding: 1.2rem 0.8rem;
            svg {
              width: 2.4rem;
              margin-right: 0.5rem;
            }
          }
          & > li:nth-of-type(2n + 1) {
            background: var(--background3-color);
          }
        }
      }
    }
  }
}

// available payment
.ppAvailPaySection {
  padding-top: 0;
  .ppAvailPay {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }
    & > h3 {
      width: calc(35% - 5vw);
      @media only screen and (max-width: 991px) {
        width: 100%;
      }
    }
    &-logos {
      width: calc(65% - 5vw);
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 991px) {
        width: 100%;
        margin-top: 4rem;

        img {
          margin-right: 2rem;
        }
      }
    }
  }
}

// enterprise boxes
.ppEnterpriseSection {
  padding-top: 0;

  .ppEnterprise {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    &-large,
    &-govt {
      position: relative;
      width: calc(50% - 2.4rem);
      color: var(--white);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5rem 4rem;
      border-radius: 1rem;
      background-color: var(--black-100);
      background-repeat: no-repeat;
      background-position: bottom right;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      &:nth-child(1) {
        background-image: url(../../assets/images/icons/enterprise-1.svg);
      }
      &:nth-child(2) {
        background-image: url(../../assets/images/icons/enterprise-2.svg);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16rem;
        height: 22rem;
        background: url(../images/icons/entCard-bg.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }

      & > * {
        position: relative;
        z-index: 5;
      }

      img {
        width: 15rem;
        height: 15rem;
        display: inline-block;
        margin-bottom: 1rem;
      }
      h3 {
        margin-bottom: 2rem;
        text-transform: uppercase;
        max-width: 38rem;
        text-align: center;
      }

      p {
        margin-bottom: 2rem;
        text-align: center;
        max-width: 38rem;
      }

      p.text-yellow {
        color: var(--yellow-100);
        max-width: 23rem;
        margin-bottom: 4rem;
      }
    }
    &-govt {
      width: calc(50% - 2.4rem);
      @media only screen and (max-width: 768px) {
        margin-top: 4rem;
        width: 100%;
      }
    }
  }
}

// faqs
.ppFaqs {
  &.faqs-section {
    border: none;
    // padding-bottom: 4rem;
  }
  .faqs__wrapper {
    padding-top: 4rem;
  }
}

// testimonials
.ppTestSection {
  .ppTest {
    position: relative;
    .ppTestSlide {
      position: relative;
      &-btnPrev,
      &-btnNext {
        position: absolute;
        top: 50%;
        background-color: var(--black-100);
        padding: 1.5rem;
        border: none;
        transform: translateY(-50%);
        border-radius: 10px;
        z-index: 1;

        @media (max-width: 768px) {
          border-radius: 10px;
          bottom: -25px;
        }

        svg {
          width: 2rem;
          height: 2rem;
          display: block;
        }
      }
      &-btnPrev {
        left: 0;

        @media (max-width: 768px) {
          left: 0%;
          top: unset;
          border-radius: 0 0 0 10px;
        }
      }
      &-btnNext {
        right: 0;

        @media (max-width: 768px) {
          right: 0%;
          top: unset;
          border-radius: 0 0 10px 0;
        }
      }
      &-slider {
        max-width: 87.4rem;
        margin: 0 auto;
        padding: 10rem 0;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        background: var(--background2-color);

        @media (max-width: 768px) {
          padding: 8rem 2rem;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 30rem;
          height: 100%;
          background: url(../images/icons/test-left.svg);
          background-repeat: no-repeat;
          z-index: -1;

          @media only screen and (max-width: 640px) {
            opacity: 0.3;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 30rem;
          height: 100%;
          background: url(../images/icons/test-right.svg);
          background-repeat: no-repeat;
          background-position: right bottom;
          z-index: -1;

          @media only screen and (max-width: 640px) {
            opacity: 0.5;
          }
        }

        &.noIcon {
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
        }
        &--item {
          position: relative;

          & > * {
            max-width: 50rem;
            text-align: center;
            margin: 0 auto;
          }
          & > p {
            font-size: $step-01;
            @media screen and (max-width: 768px) {
              font-size: $text-sm;
            }
          }
          & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 4rem;

            img {
              display: block;
              margin-right: 1.2rem;
            }

            h5 {
              text-align: left;
              @media screen and (max-width: 768px) {
                font-size: $text-sm;
              }
              span {
                font-weight: normal;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

// brochure
.ppBrochureSection {
  .ppBrochure {
    background-color: var(--background3-color);
    padding: 5rem 5vw;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      width: 10rem;
      height: 120%;
      background: var(--primaryBtn-color);
      top: 50%;
      right: 4%;
      transform: translateY(-50%) skew(-35deg);
      position: absolute;

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    & > * {
      z-index: 1;
      position: relative;
    }

    h5 {
      font-size: $step-01;
      margin-bottom: 1.8rem;
    }
    p {
      margin-bottom: 2rem;
      max-width: 50rem;
    }

    & > div {
      form {
        padding: 0;
        display: flex;
        justify-content: space-between;
        max-width: 70rem;
        @media only screen and (max-width: 767px) {
          flex-direction: column;
        }
        & > input {
          width: calc(70% - 0.8rem);
          border: 2px solid var(--background-color);
          display: block;
          background: var(--background-color);
          color: inherit;
          padding: 2rem;
          border-radius: 4px;

          @media only screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 1.2rem;
          }

          &:focus {
            outline: none;
          }
        }
        & > button {
          color: inherit;
          border: none;
          display: block;
          padding: 2rem;
          text-transform: uppercase;
          font-weight: 700;
          border-radius: 4px;
          background: var(--background4-color);
          width: calc(30% - 0.8rem);
          &:hover {
            background: var(--primaryBtn-color);
            color: var(--white);
          }
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }
}
