.refund-policy{
    h1 {
        padding-bottom: 6.4rem;
        max-width: 60rem;
        text-align: center;
        margin: auto;
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
        line-height: 3.1rem;
        padding: 3rem 0 1.5rem;
        &:first-child{
            padding-top: 0;
        }
    }
    p{
        font-size: 16px;
        color: #838383;
        line-height: 2.1rem;
        padding: 1.5rem 0 0;
        span{
            font-weight: 700;
            color: #1D3142;
        }
    }
    ul{
        list-style-type: disc;
        list-style: disc;
        padding-left: 1.5rem;
        li{
            color: #838383;
            padding: 1.5rem 0 0;
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
    }
    ol{
        list-style-type: disc;
        list-style: lower-alpha;
        padding-left: 1.5rem;
        li{
            color: #838383;
            padding: 1.5rem 0 0;
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
    }
}