.signUpSection {
  &::after {
    background: var(--yellowish);
    transform: skew(-35deg);
    left: auto;
    right: 18rem;
    @media screen and (max-width: 768px) {
      right: 47rem;
    }
    @media screen and (max-width: 640px) {
      right: 38rem;
    }
  }
  .bdBanner {
    background: var(--black-100);
    color: var(--white);
    &-left {
      padding: 0;
      &::before,
      &::after {
        display: none;
      }
      &.signup--graphics {
        @media screen and (min-width: 1024px) {
          display: flex;
        }
        @media screen and (max-width: 1024px) {
          display: none;
          // align-items: flex-end;
        }
        @media screen and (max-width: 768px) {
          justify-content: center;
          display: none;
        }
      }
    }
    &-right {
      & > form {
        .formRow {
          .formItem.required {
            label::after {
              color: var(--yellow-100);
            }
          }
          input {
            color: var(--black-100);
          }
          &.formRowFull.submitBtn {
            justify-content: left;
          }
        }
      }
    }
  }
}
