.spBanner-Section {
  background: var(--background3-color);
  .spBanner {
    &--heading {
      p {
        padding-top: 2rem;
      }
    }
  }
}
.spSolutionTypes--Section {
  .spSolutionTypesG {
    @media only screen and (max-width: 768px) {
      .leftRightGrid-image {
        margin-top: 2rem;
      }
      &:nth-child(odd) {
        flex-direction: column-reverse;
      }
    }
    &:not(:first-child) {
      padding-top: 7.6rem;
      @media only screen and (max-width: 768px) {
        padding-top: 0rem;
      }
    }
    &-content--details {
      max-width: 53rem;
      padding-left: 5.3rem;
      @media only screen and (max-width: 640px) {
        padding-left: 0rem;
      }
      & > p {
        padding-top: 2rem;
        @media only screen and (max-width: 640px) {
          padding-top: 1.6rem;
        }
      }
      & > a {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--textAccent-color);
        display: inline-flex;
        align-items: center;
        padding-top: 2rem;
        @media only screen and (max-width: 640px) {
          padding-top: 1.6rem;
        }
        img {
          width: auto;
          height: 1rem;
        }
      }
    }
    &-graphics {
      img {
        @media only screen and (min-width: 1200px) {
          width: auto;
          margin: 0 auto;
        }
      }
    }
  }

  .blogCard {
    margin-bottom: 0;
    @media only screen and (max-width: 1200px) {
      margin-bottom: 1rem;
    }
    @media only screen and (max-width: 640px) {
      margin-bottom: 2rem;
    }
    &__heading {
      font-size: $step-02;
      @media only screen and (max-width: 640px) {
        margin-bottom: 1.6rem;
      }
    }
    p {
      margin-bottom: 2rem;
      @media only screen and (max-width: 640px) {
        margin-bottom: 1.6rem;
      }
    }
    & .blogCard__content {
      @media only screen and (max-width: 640px) {
        padding: 2rem;
      }
    }
  }
  .loadMoreOptions {
    margin-top: 2rem;
    @media only screen and (max-width: 640px) {
      margin-top: 0rem;
    }
  }
  .b2cwhatcx--btn {
    margin-top: 4.8rem;
    @media only screen and (max-width: 640px) {
      margin-top: 1rem;
    }
    a {
      background: var(--background3-color);
    }
  }
}
