// banner
.spBanner {
  .b2cBanner-section {
    background-color: var(--black-100);
    color: var(--white);
  }
}

// digital business
.spBusiness {
  .b2cBusiness__item {
    img {
      margin: 0 auto 2rem;
    }
    h4 {
      font-size: $step-01;
      margin-bottom: 1rem;
    }
  }
}

// benefits
.spBenefits {
  background-color: var(--background-color);
  .centerSectionHeading.commonHeading {
    margin-bottom: 2rem;
  }
  & .hpHelp-slideWrap &--features {
    @media (max-width: 900px) {
      padding-top: 0;
    }
    .leftRightGrid {
      align-items: center;
      .leftRightGrid-image {
        @media (max-width: 768px) {
          margin-top: 0;
        }
        img {
          max-height: 42rem;
          object-fit: contain;
          width: auto;
        }
      }
      .leftRightGrid-content {
        & > div {
          max-width: 43rem;
        }
        @media (max-width: 768px) {
          margin-top: 0;
        }
      }
    }
    &::after {
      display: none;
    }
  }
}

// Whatsapp Cloud API
.spBusinessApi {
  background-color: var(--background-cream);
  .leftRightGrid {
    grid-template-columns: 1.18fr 0.82fr;
    .leftRightGrid-content {
      @media (max-width: 768px) {
        margin-top: 0;
      }
    }
    .leftRightGrid-image {
      @media (max-width: 768px) {
        margin-top: 0;
      }
    }
    .leftRightGrid-content {
      h3 {
        color: var(--brown-text);
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 2rem;
      }
      ol {
        list-style-position: inside;
        li {
          line-height: 1.8;
        }
      }
    }
  }
  &.spEducation {
    background-color: var(--purple);
    .leftRightGrid {
      grid-template-columns: 1fr 1fr;
      &-image {
        img {
          @media screen and (min-width: 1200px) {
            width: auto;
          }
        }
      }
      &-content {
        color: var(--textOnTertiaryBtn-color);
        h3 {
          color: var(--textOnTertiaryBtn-color);
        }
      }
    }
  }
  &.spApparel {
    background: var(--purplish);
  }
  &.spCoaching {
    background: var(--green-100);
  }
  &.spRealestate {
    background: url("../images/solutions/real-estate/spRealestateapibg.png");
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  &.spMba {
    background-color: var(--orange-300);
  }
  &.spSalon {
    background-color: var(--pink-100);
  }
  &.spRetail {
    background-color: #020145;
  }
  &.spManufacturing {
    background-color: #ea6356;
  }
}

// manage customers
.spManageCustomer {
  padding: 4.8rem 0;
  color: var(--white);
  &-wrapper {
    background-color: var(--black-100);
    padding: 0rem 0vw 0 5vw;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    @media (max-width: 768px) {
      padding: 7vw 6vw 0;
    }
    &::after {
      content: "";
      width: 18rem;
      height: 120%;
      background: var(--primaryBtn-color);
      top: 50%;
      right: 6rem;
      transform: translateY(-50%) skew(-35deg);
      position: absolute;
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    & > * {
      z-index: 1;
      position: relative;
    }
    .spManageCustomer-content {
      max-width: 57rem;
      padding: 4rem 0 5rem;
      @media only screen and (max-width: 768px) {
        margin-top: 0;
        padding: 0;
      }
    }
    h5 {
      color: var(--yellow-200);
      font-size: $step-04;
      margin-bottom: 1.6rem;
      line-height: 1.4;
      @media (max-width: 768px) {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }
    p {
      font-size: $step-01;
      margin-bottom: 4.8rem;
      @media (max-width: 768px) {
        font-size: $text-base;
        margin-bottom: 1.6rem;
      }
    }
  }
  .leftRightGrid {
    align-items: flex-end;
    @media only screen and (max-width: 768px) {
      align-items: center;
    }
  }
  .leftRightGrid-image {
    @media only screen and (min-width: 1024px) {
      img {
        width: auto;
        margin: 0 auto;
      }
    }
    @media only screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
}
