.TCP-Section{
    &-content{
        &_item{
            &:not(:last-child){
                padding-bottom: 4.8rem;
                @media only screen and (max-width: 768px){  
                    padding-bottom: 3rem
                }
            }
            p{
                padding-top: 2rem;
                @media only screen and (max-width: 768px){  
                    padding-top: 1.6rem
                }
            }
            a{
                &:hover{
                    color: var(--linkHover-color);
                }
            }
            ul{
                padding: 1.6rem 0 0 3rem;
                list-style-type: disc;
                li{
                    &:not(:first-child){
                        padding-top: 0.5rem;
                    }
                }
            }
        }
    }
}