.thank-you-onboarding{
    .thnx{
        padding:1rem;
        .thnx-img-1{
            margin-top: -3rem;
            display: flex; 
            img{
                z-index: 1;
                transform: translate(30%,30%);
                @media screen and (max-width:768px) {
                transform: translate(0%,30%);
                @media screen and (max-width:425px) {
                    width: 30%;  
                    }
                    @media screen and (max-width:350px) {
                        width: 25%;  
                            }
                            @media screen and (max-width:300px) {
                                transform: translate(-35%,30%);  
              
                                    }
                }
              }   
        }
       .thnx-img-2{
        display: flex;
        justify-content: end;
      img{
        transform: translate(-20%,-20%);
        @media screen and (max-width:768px) {
            transform: translate(0%,-30%);       
            }
            @media screen and (max-width:425px) {
                width: 30%;  
                }
                @media screen and (max-width:350px) {
                    width: 25%;  
  
                        }
    }
       }
    }
    h1{
        font-size: 6rem!important;
        @media screen and (max-width:425px) {
        font-size: 3.2rem!important; 
            }
            @media screen and (max-width:350px) {
                font-size: 2.5rem!important;
                     
                    }
    }
    p{
        z-index: 111;
        padding:1rem  2rem;
        @media screen and (max-width:350px) {
            font-size: 12px!important;
                 
                }
    }
    
}