.thankyou {
  background: var(--background-color);
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    width: 30rem;
    height: 100%;
    background: var(--yellowish);
    top: 0;
    left: 20rem;
    transform: skew(50deg);
    position: absolute;
  }
  .LogoContainer {
    height: 6rem;
  }
  &G {
    background: var(--background-color);
    border-radius: 1rem;
    min-height: 20rem;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    @media only screen and (max-width: 1024px) {
      padding: 2rem;
    }
    @media only screen and (max-width: 768px) {
      padding-top: 0;
    }
    &-graphics {
      @media only screen and (max-width: 768px) {
        margin-top: 1rem;
      }
      img {
        @media screen and (min-width: 1200px) {
          width: auto;
          margin: 0 auto;
        }
      }
    }
    &-content {
      padding: 5rem 0 5rem 11.3rem;
      @media only screen and (max-width: 1024px) {
        padding: 5rem 0 5rem 5.3rem;
      }
      @media only screen and (max-width: 768px) {
        padding: 0;
      }
      p {
        color: var(--grey-300);
        padding-top: 2rem;
        @media only screen and (max-width: 640px) {
          padding-top: 1.6rem;
        }
        a {
          font-size: $text-base;
          color: var(--textAccent-color);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          img {
            width: auto;
            height: 1rem;
          }
        }
      }
    }
  }
  &.coboldp {
    &::after {
      // background: var(--bluish);
      background: linear-gradient(210.32deg, #8fcfc0 13.62%, #3ba6dd 82.2%);
    }
    .thankyouG-dsc {
      a {
        color: var(--blue-100);
        text-decoration: underline;
      }
    }
  }
}
